@font-face {
  font-family: "socialico";
  src: url("fonts/Socialico/Socialico.eot");
  src: url("fonts/Socialico/Socialico.eot?#iefix") format("embedded-opentype"),
    url("fonts/Socialico/Socialico.woff2") format("woff2"),
    url("fonts/Socialico/Socialico.woff") format("woff"),
    url("fonts/Socialico/Socialico.ttf") format("truetype"),
    url("fonts/Socialico/Socialico.svg") format("svg");
}
*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.suspension-contain {
  max-height: 980px;
  overflow: hidden;
  position: relative;
}
html.suspended {
  background: rgba(0, 0, 0, 0.6);
}
body {
  max-width: 100%;
  min-width: 1200px;
  margin: 0 auto;
  font-family: 'Montserrat', sans-serif;
  color: #16161e;
}
a {
  color: inherit;
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
h1,
h2{
  margin: 0;
  padding: 0 0 20px;
  font-weight: normal;
  font-size: 70px;
}
h3{
  font-size: 40px;
  font-weight: normal;
  padding: 0;
  margin: 0;
}
h4 {
  font-size: 35px;
  font-weight: normal;
  padding: 0;
  margin: 0;
}
h5 {
  font-size: 25px;
  font-weight: normal;
  padding: 0;
  margin: 0;
}
h6 {
  font-size: 17px;
  padding: 0;
  font-weight: normal;
  margin: 0;
}
p{
  font-size: 17px;
  line-height: 29px;
  margin: 0;
  padding: 0 0 20px;
}
p a:hover{
  color: #FF0000;
}
ul{
  padding: 0;
  margin: 0;
}
.row {
  max-width: 1470px;
  margin: 0 auto;
  padding: 0 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}


/*clearings*/
.clear {
  clear: both;
}
.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
  font-size: 0;
}
.clearfix {
  display: block;
}

/*cookie*/
.cc-animate.cc-revoke.cc-bottom {
  font-size: 14px;
  padding: 5px 10px;
  position: fixed;
  display: block !important;
  -webkit-transform: none !important;
      -ms-transform: none !important;
          transform: none !important;
  bottom: 0 !important;
  left: 20px !important;
}

/*call to action*/
.destroy-on-load,
.cta {
  display: none;
}

.btn {
  position: relative;
  overflow: hidden;
  font-family: 'Montserrat', sans-serif;
  font-size: 17px;
  color: #FFF;
  background: #21ad6e;
  display: flex;
  font-weight: 500;
  align-items: center;
  justify-content: center;
  column-gap: 10px;
  padding: 10px;
  width: 175px;
  text-transform: uppercase;
  height: 55px;
  border-radius: 5px;
  text-align: center;
}
.btn:hover{
  background: #16161e;
}
.flex{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
img{
  max-width: 100%;
}

/*------------------------------------header------------------------------------*/
#header .row{max-width: 1870px;}
#header .content{display: flex; align-items: center; justify-content: space-between; column-gap: 30px;}
#header .more{display: flex; align-items: center; justify-content: space-between; column-gap: 30px; width: 1230px; max-width: 100%;}
#header nav a#pull {display: none;}
#header nav ul {width: 880px;max-width: 100%;margin: 0;padding: 0;list-style: none;display: flex;align-items: center;justify-content: space-between;}
#header .btn{width: 215px;}
#header nav ul li a {color: 999999;font-size: 18px;height: 70px;display: flex;align-items: center;justify-content: center;border-bottom: 5px solid transparent;}
#header nav ul li.active-menu a,
#header nav ul li a:hover {color: #330033;border-bottom: 5px solid #21ad6e;}

/*------------------------------------banner------------------------------------*/
#banner{background: url(../images/common/banner-bg.png) no-repeat center center; background-size: cover;padding: 50px 0;min-height: 887px;position: relative;}
#banner .row{max-width: 1500px;position: absolute;left: 0;right: 0;top: 50%;transform: translateY(-50%);}
#banner h2{font-size: 96px; color: #FFF; padding-bottom: 100px;}
#banner p{color: #FFF;}
#banner .content{text-align: center;display: flex;justify-content: space-between;column-gap: 30px;align-items: center;}
#banner .btn{margin: 0 auto; border: 2px solid #FFF; background: transparent;}
#banner .btn:hover{border: 2px solid transparent; background: #21ad6e;}
#banner .txt{width: 790px;max-width: 100%;}
/*------------------------------------content------------------------------------*/

#products{background: url(../images/common/prd-bg-1.png) no-repeat top center;}
#products h6{letter-spacing: 10px; color: #21ad6e;}
#products .in{background: url(../images/common/prd-bg-2.png) no-repeat top center; padding: 70px 15px 40px; margin-top: -40px; position: relative; z-index: 2; text-align: center;}
#products .row{max-width: 1620px;}
#products .content{width: 1290px; max-width: 100%; column-gap: 30px; row-gap: 20px; margin: 0 auto; display: flex; margin-bottom: 60px; justify-content: space-between;}
#products .btn{margin: 0 auto;}
#products img{width: 399px; height: 348px; object-fit: scale-down; margin-bottom: 40px;}
#products h5{max-width: 230px; margin: 0 auto;}
#products .line{position: relative; width: 680px; margin: 0 auto; margin-bottom: 90px; max-width: 100%;}
#products .line:before{position: absolute; top: 50%; transform: translateY(-50%); content: ''; height: 2px; width: 202px; background: url(../images/common/line.png) center center no-repeat; left: 0;}
#products .line:after{position: absolute; top: 50%; transform: translateY(-50%); content: ''; height: 2px; width: 202px; background: url(../images/common/line.png) center center no-repeat; right: 0;}

#welcome{background: url(../images/common/wlc-bg.png) no-repeat center center; background-size: cover; padding: 150px 0 160px;}
#welcome .btn{margin: 0 auto;}
#welcome p{margin-bottom: 30px;}
#welcome .content{width: 840px; max-width: 100%; text-align: center; color: #FFF;}
#welcome h2{margin-bottom: 20px; position: relative;}
#welcome h2:after{position: absolute; bottom: 0; content: ''; height: 2px; width: 202px; background: url(../images/common/border.png) center center no-repeat; right: 0; left: 0; margin: 0 auto;}
#welcome h6{letter-spacing: 10px;}

#about{background: url(../images/common/abt-bg.png) no-repeat center center; padding: 100px 0 130px; background-size: cover; color: #FFF; text-align: center;}
#about img{margin: 0 auto 30px;}
#about h2{margin-bottom: 20px; position: relative;}
#about h2:after{position: absolute; bottom: 0; content: ''; height: 2px; width: 202px; background: url(../images/common/border.png) center center no-repeat; right: 0; left: 0; margin: 0 auto;}
#about p{width: 870px; max-width: 100%; margin: 0 auto;}
#about ul{columns: 3; width: 1330px; margin: 0 auto 40px; padding: 0; text-align: left; padding-left: 40px; max-width: 100%;}
#about .btn{margin: 0 auto;}

#easy{padding: 70px 0;}
#easy .content{column-gap: 30px; row-gap: 20px; margin: 0 auto; display: flex; justify-content: space-between; align-items: center;}
#easy .txt{width: 1170px; max-width: 100%; padding-left: 40px; border-left: 2px solid #21ad6e;}
#easy h3{padding-bottom: 10px;}
#easy p{padding: 0;}

/*footer*/
#footer{padding: 90px 0 70px; background: url(../images/common/ftr-bg.png) no-repeat center center; background-size: cover; color: #FFF;}
#footer h2{margin-bottom: 20px; position: relative; text-align: center;}
#footer h2:after{position: absolute; bottom: 0; content: ''; height: 2px; width: 202px; background: url(../images/common/border.png) center center no-repeat; right: 0; left: 0; margin: 0 auto;}
#footer .top .content{display: flex; justify-content: space-between; column-gap: 30px; width: 1060px; max-width: 100%; margin-bottom: 80px;}
#footer .top .item{display: flex; justify-content: space-between; column-gap: 30px; align-items: center; color: #FFF;}
#footer .logo img{margin: 0 auto 20px; display: block;}
#footer .social{display: flex; align-items: center; justify-content: space-between; width: 70px; margin: 0 auto 50px;}
#footer ul{list-style: none; display: flex; align-items: center; justify-content: space-between; width: 860px; max-width: 100%; margin: 0 auto;}
#footer .mid{background: #21ad6e; padding: 25px 0;}
#footer li a{color: #FFF; font-weight: 500; text-transform: uppercase;}
#footer li.active-menu a,#footer li a:hover{color: #330033;}
#footer .bot p{padding: 30px 0 0; color: #FFF; text-align: center;}

/*------------------------------------contact form messages-----------------------------------*/
form .messages p {
  display: none;
  font-family: Arial !important;
  font-weight: 400 !important;
  letter-spacing: 0 !important;
  font-size: 16px !important;
}
form .loading {
  display: none;
}
form .alert {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
}
form .alert-success {
  color: #3c763d;
  background-color: #dff0d8;
  border-color: #d6e9c6;
}
form .alert-danger {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
}
form [type="submit"] {
  margin: 20px auto;
}

/*------------------------contact form------------------------*/
.ctc-form {
  margin: 0 auto;
  text-align: center;
}
.ctc-form input[type="text"],
.ctc-form textarea {
  font-family: Arial;
  font-size: 16px;
  color: #000;
  height: 45px;
  display: block;
  width: 100%;
  border: 1px solid #ddd;
  border-radius: 3px;
  padding: 5px 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0 auto 8px;
}
.ctc-form textarea {
  height: 120px;
  padding-top: 10px;
}
.ctc-form button {
  display: block;
}
.ctc-form .recap {
  display: inline-block;
}
.ctc-form .g-recaptcha div {
  margin: 0 auto 10px;
}
.ctc-form .ctc-hide {
  display: none;
}

/*inner pages*/
.inner #content {
  min-height: 400px;
  padding: 40px 0;
}

/*privacy policy*/
.inPrivacyBox {
  max-width: 850px;
  margin: 0 auto;
}
.inPrivacyBox p {
  text-align: justify !important;
}

/** Responsive
-------------------------------------------------------*/

@media screen and (min-width: 992px) and (max-width: 1399px){
  #header nav ul{width: 500px;}
  #header .more{width: 800px;}
}
@media screen and (max-width: 1024px){
  body {min-width: 320px}
  h1,h2{font-size: 35px;}
  #header {padding: 0; background: none; z-index: 999; position: relative;}
  #header .row {width: 100%;display: block;}
  #header .logo{padding:  50px 0 20px;margin: 0 auto;display:block;}
  #header nav {display:block; height: auto; }
  #header nav ul {background: #21ad6e;position: fixed;top: 40px;right: 0;left: 0;margin: 0 auto;width: 100%; display: none; height: auto;border-bottom:5px solid #000;}
  #header nav ul li {width: 100%;position: relative; }
  #header nav ul li a { display: block; float:none; padding: 10px 15px; color:#fff; height: auto;}
  #header nav a {text-align: left; width: 100%;}
  #header nav a strong {position: absolute; top: 50%; -webkit-transform: translateY(-50%); -ms-transform: translateY(-50%); transform: translateY(-50%); left: 15px;}
  #header nav a#pull {position: fixed; top:0;left: 0;right: 0;margin: 0 auto;display: block; color: #fff; background-color: #21ad6e; height: 40px;padding: 10px 0; width: 100%;}
  #header nav a#pull:after { content:""; background: url('../images/common/nav-icon.png') no-repeat; width: 20px; height: 20px; display: inline-block; position: absolute; right: 15px; top: 50%; -webkit-transform: translateY(-50%); -ms-transform: translateY(-50%); transform: translateY(-50%);}
  #header nav ul li.active-menu a, #header nav ul li a:hover{border-top: unset; background: #21ad6e;}
  #banner{padding: 50px 0;}
  .cta{background: #21ad6e  url("../images/common/phonecall.png") no-repeat center center;border-bottom-left-radius: 40px;border-top: 2px solid #EBEBEB ;border-top-left-radius: 40px;bottom: 1%;display: block;height: 80px;position: fixed;right: 0;text-decoration: none; text-indent: -9999em;width: 100px;z-index: 999;}
  #footer .mid{display: none;}
  #footer .bot p{padding: 0;}
  #banner .content{flex-wrap: wrap;}
  #footer, #easy, #about, #welcome{padding: 50px 0;}
  #welcome .content{margin: 0 auto;}
  #about ul{columns: 1;}
  #banner .content, #products .content, #footer .top .content, #easy .content{flex-wrap: wrap; row-gap: 20px; justify-content: center;}
  #products .content, #products .line, #about ul, #footer .social, #footer .top .content{margin-bottom: 20px;}
  #welcome p{margin: 0;}
  #products .line:before, #products .line:after{display: none;}
  #products .in{padding: 40px 15px; margin: 0;}
  #products{padding: 50px 0;}
  #banner{min-height: auto;}
  #banner h2{font-size: 35px; padding-bottom: 20px;}
  #banner .row {position: relative;left: initial;right: initial;top: initial;transform: initial;}
  #header .btn{display: none;}
}