@font-face {
  font-family: "socialico";
  src: url("fonts/Socialico/Socialico.eot");
  src: url("fonts/Socialico/Socialico.eot?#iefix") format("embedded-opentype"),
    url("fonts/Socialico/Socialico.woff2") format("woff2"),
    url("fonts/Socialico/Socialico.woff") format("woff"),
    url("fonts/Socialico/Socialico.ttf") format("truetype"),
    url("fonts/Socialico/Socialico.svg") format("svg");
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.suspension-contain {
  max-height: 980px;
  overflow: hidden;
  position: relative;
}
html.suspended {
  background: rgba(0, 0, 0, 0.6);
}
body {
  max-width: 100%;
  min-width: 1200px;
  margin: 0 auto;
  text-align: left;
  font-family: 'Poppins', sans-serif;
  color: #212121;
}
a {
  color: inherit;
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
h1,
h2,
h3,
h4,
h5 {
  padding: 0;
  margin: 0;
  font-weight: 400;
}
h1, h2{
  font-size: 70px;
  line-height: 1;
}
p{
  font-family: 'Open Sans', sans-serif;
  font-size: 17px;
  line-height: 1.7;
}
.row {
  max-width: 1600px;
  margin: 0 auto;
  padding: 0 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}


/*clearings*/
.clear {
  clear: both;
}
.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
  font-size: 0;
}
.clearfix {
  display: block;
}

/*cookie*/
.cc-animate.cc-revoke.cc-bottom {
  font-size: 14px;
  padding: 5px 10px;
  position: fixed;
  display: block !important;
  -webkit-transform: none !important;
      -ms-transform: none !important;
          transform: none !important;
  bottom: 0 !important;
  left: 20px !important;
}

/*call to action*/
.destroy-on-load,
.cta {
  display: none;
}

/*gallery*/
#content .gallery-container {
  text-align: center;
}
#content .gallery {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
#content .gallery li {
  display: inline-block;
}
#content .thumbnail {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;
  display: block;
  line-height: 0.42857;
  margin-bottom: 20px;
  padding: 4px;
  -webkit-transition: border 0.5s ease-in-out 0s;
  -o-transition: border 0.5s ease-in-out 0s;
  transition: border 0.5s ease-in-out 0s;
}
#content .thumbnail:hover {
  -webkit-transform: scale(1.02);
      -ms-transform: scale(1.02);
          transform: scale(1.02);
}
#content .page_navigation {
  display: inline-block;
}
#content .page_link,
#content .previous_link,
#content .next_link,
#content .first_link,
#content .last_link,
#content .ellipse {
  background-color: #fff;
  border: 1px solid #ddd;
  color: #0275d8;
  display: inline-block;
  line-height: 1.25;
  margin-left: -1px;
  padding: 0.5rem 0.75rem;
  position: relative;
}
#content .page_navigation > a:hover,
.page_navigation > a.active_page {
  background-color: #eceeef;
  border-color: #ddd;
  color: #014c8c;
  text-decoration: none;
}
/*------------------------------------contact form messages-----------------------------------*/
form .messages p {
  display: none;
  font-family: Arial !important;
  font-weight: 400 !important;
  letter-spacing: 0 !important;
  font-size: 16px !important;
}
form .loading {
  display: none;
}
form .alert {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
}
form .alert-success {
  color: #3c763d;
  background-color: #dff0d8;
  border-color: #d6e9c6;
}
form .alert-danger {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
}
form [type="submit"] {
  margin: 20px auto;
}

/*------------------------contact form------------------------*/
.ctc-form {
  margin: 0 auto;
  text-align: center;
}
.ctc-form input[type="text"],
.ctc-form textarea {
  font-family: Arial;
  font-size: 16px;
  color: #000;
  height: 45px;
  display: block;
  width: 100%;
  border: 1px solid #ddd;
  border-radius: 3px;
  padding: 5px 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0 auto 8px;
}
.ctc-form textarea {
  height: 120px;
  padding-top: 10px;
}
.ctc-form button {
  display: block;
}
.ctc-form .recap {
  display: inline-block;
}
.ctc-form .g-recaptcha div {
  margin: 0 auto 10px;
}
.ctc-form .ctc-hide {
  display: none;
}

.buttons {
  position: relative;
  overflow: hidden;
  font-weight: 500;
  font-size: 17px;
  line-height: 18px;
  color: #fff;
  display: inline-block;
  padding: 17px 0;
  border-radius: 5px;
  background: #FA7A61;
  width: 176px;
  text-align: center;
}
.flex{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

/*------------------------------------header------------------------------------*/
#header {
  padding: 32px 0;
}
#header .row{
  max-width: 1800px;
}
#header .logo-holder{
  font-weight: 600;
  font-size: 25px;
  line-height: 1.2;
  letter-spacing: 8px;
}
#header .phone-holder{
  background: url(../images/common/header-phone.png)no-repeat center left;
  padding: 5px 0 5px 30px;
}
#header .phone-holder a{
  font-weight: 500;
  font-size: 17px;
  line-height: 1.2;
  color: #fff;
}
#header nav a#pull {
  display: none;
}
nav ul {
  margin: 0;
  padding: 0;
}
nav ul li {
  display: inline-block;
  vertical-align: middle;
  margin: 0 15px;
}
nav ul li a {
  font-weight: 500;
  font-size: 17px;
  color: #fff;
  line-height: 1.2;
  padding: 8px 18px;
}
nav ul li.active-menu a,
nav ul li a:hover {
  background-color: #FA7A61;
  border-radius: 5px;
}

/*------------------------------------banner------------------------------------*/
#banner {
  padding: 136px 0 150px;
  margin-top: -136px;
  background: url(../images/common/banner-wrapper.png), -webkit-gradient(linear, left top, left bottom, color-stop(80%, rgba(243,244,246,1)), color-stop(80%, rgba(255,255,255,1)));
  background: url(../images/common/banner-wrapper.png), -o-linear-gradient(top, rgba(243,244,246,1) 80%, rgba(255,255,255,1) 80%);
  background: url(../images/common/banner-wrapper.png), linear-gradient(180deg, rgba(243,244,246,1) 80%, rgba(255,255,255,1) 80%);
  background-position: center right;
  background-repeat: no-repeat;
}
#banner .banner-text{
  -ms-flex-preferred-size: 595px;
      flex-basis: 595px;
}
#banner p{
  color: #666666;
}
#banner .buttons:hover{
  background: #3539A4;
}

/*------------------------------------content------------------------------------*/
#content .title{
  letter-spacing: 17px;
  line-height: 1.8;
}

/*products section*/
#products{
  padding-bottom: 77px;
  margin-top: -150px;
  position: relative;
}
#products dl{
  display: inline-block;
  vertical-align: top;
  max-width: 24.7%;
  width: 100%;
  margin: 33px auto 0;
}
#products dt img{
  display: block;
  margin: 0 auto;
}
#products dl dd{
  margin: 0 auto;
  text-align: center;
}
#products dd p{
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
  line-height: 1;
}
#products .price{
  font-size: 40px;
}
#products .buttons{
  background: none;
  border: 2px solid #FA7A61;
  color: #212121;
  display: block;
  margin: 0 auto;
}
#products .buttons:hover{
  background: #FA7A61;
}

/*welcome section*/
#welcome{
  background: url(../images/content/welcome-wrapper.jpg)no-repeat center center;
  background-size: cover;
  color: #fff;
  padding-bottom: 100px;
}
#welcome .text-holder{
  -ms-flex-preferred-size: 800px;
      flex-basis: 800px;
  margin-top: 70px;
}
#welcome .buttons{
  margin-top: 14px;
  border: 2px solid transparent;
}
#welcome .buttons:hover{
  background: #fff;
  border: 2px solid #FA7A61;
  color: #212121;
}

/*about section*/
#about{
  background-color: #F3F4F6;
  padding: 33px 0 8px;
}
#about .text-holder{
  -ms-flex-preferred-size: 789px;
      flex-basis: 789px;
}
#about2{
  padding-bottom: 73px;
}
#about2 .text-holder{
  -ms-flex-preferred-size: 526px;
      flex-basis: 526px;
}
#about2 ul{
  list-style: none;
  position: relative;
  padding: 0;
}
#about2 ul li{
  font-size: 20px;
}
#about2 ul li:before{
  content: "\2022";
  color: #FA7A61;
  display: inline-block; 
  width: 1em;
  padding: 5px 0;
}
#about2 .buttons{
  background: #3538A3;
}
#about2 .buttons:hover{
  background: #FA7A61;
}

/*bottom orange section*/
#bottom{
  background-color: #FA7A61;
  padding-bottom: 32px;
  color: #fff;
}
#bottom .text-holder{
  -ms-flex-preferred-size: 789px;
      flex-basis: 789px;
  margin-top: 50px;
}
#bottom h2{
  font-size: 40px;
  max-width: 710px;
}
#bottom .image-holder{
  -ms-flex-preferred-size: 313px;
      flex-basis: 313px;
}

/*footer*/
#footer {
  background: url(../images/common/footer-wrapper.jpg)no-repeat center center/cover;
  padding-bottom: 120px;
  color: #fff;
}
#footer .info-holder{
  margin-top: 133px;
  -ms-flex-preferred-size: 1015px;
      flex-basis: 1015px;
}
#footer h2{
  font-weight: 600;
  font-size: 30px;
  letter-spacing: 5px;
}
#footer dl{
  display: inline-block;
  vertical-align: top;
  max-width: 32.8%;
  width: 100%;
  margin: 64px auto 0;
}
#footer dl dd{
  margin: 0;
}
#footer dd p{
  color: #FA7A61;
  line-height: 1.2;
}
#footer dd a{
  font-size: 20px;
  line-height: 1.2;
}
#footer dd a:hover{
  color: #FA7A61;
}
#footer .address{
  max-width: 270px;
  display: block;
  line-height: 1.5;
}

/*copyright section*/
#copy{
  background-color: #1C1F59;
  padding: 39px 0;
}
#copy p{
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  color: #fff;
}
#copy nav ul li{
  margin: 0 30px;
}
#copy nav ul li:first-of-type{
  margin-left: 0;
}
/*------------------------social media------------------------*/
#copy .socials a{
  font-family: 'socialico';
  font-size: 37px;
  color: #fff;
  margin:0 12px;
}

/*inner pages*/
.inner #content {
  min-height: 400px;
  padding: 40px 0;
}

/*privacy policy*/
.inPrivacyBox {
  max-width: 850px;
  margin: 0 auto;
}
.inPrivacyBox p {
  text-align: justify !important;
}

/** Responsive
-------------------------------------------------------*/

@media screen and (max-width: 980px){
  body {min-width: 320px; text-align: center;}
  img{max-width: 100%;}
  #header {padding: 0}
  #header .row {width: 100%; display: block;padding: 0;}
  #header .navi{display: block;}
  #header .phone-holder{display: none;}
  #header .logo-holder{padding: 60px 0 20px;}
  #header nav {display:block; height: auto; }
    #header nav ul { width: 100%; display: none; height: auto;border-bottom:5px solid #000; position: fixed; top: 40px;background: #3538A3; z-index: 999;}
    #header nav ul li { width: 100%;position: relative; }
    #header nav ul li a { display: block; float:none; padding: 10px 0;}
    #header nav a {text-align: left; width: 100%;}
  #header nav a strong {position: absolute; top: 50%; -webkit-transform: translateY(-50%); -ms-transform: translateY(-50%); transform: translateY(-50%); left: 15px;}
  #header nav a#pull {display: block; color: #fff; background-color: #FA7A61; height: 40px;padding: 10px 0; width: 100%; position: fixed; top: 0;z-index: 999;}
  #header nav a#pull:after { content:""; background: url('../images/common/nav-icon.png') no-repeat; width: 20px; height: 20px; display: inline-block; position: absolute; right: 15px; top: 50%; -webkit-transform: translateY(-50%); -ms-transform: translateY(-50%); transform: translateY(-50%);}
  #header nav ul li.active-menu a, #headernav ul li a:hover {background: none; color: #FA7A61;}
  #banner{margin-top: 0;padding: 0 0 50px; background: url(../images/common/banner-wrapper.png)no-repeat center center/cover; color: #fff;}
  #banner p{color: #fff;}
  #banner .banner-text{order: 2;flex-basis: auto; background: rgb(53, 56, 163); background: rgba(53, 56, 163, 0.5);padding: 10px;}
  #products{margin-top: 0;padding-top: 50px;}
  #products dl{max-width: 45%;}
  #about{padding: 50px 0;}
   #about2 .row, #copy .row{display: block;}
  #welcome .text-holder, #bottom .text-holder, #footer .info-holder{margin-top: 0;}
  #banner .row, #welcome .row, #about .row, #bottom .row, #footer .row{flex-direction: column;}
  #welcome .text-holder, #about .text-holder, #bottom .text-holder, #footer .info-holder{order: 2;flex-basis: auto;}
  #banner .image-holder, #welcome .image-holder, #about .image-holder, #bottom .image-holder #footer .image-holder{order: 1;}
  #welcome, #about2, #footer{padding-bottom: 50px;}
  #copy nav ul li{margin: 10px 20px;}
  .cta{background: #FA7A61  url("../images/common/phonecall.png") no-repeat center center;border-bottom-left-radius: 40px;border-top: 2px solid #3538A3 ;border-top-left-radius: 40px;bottom: 1%;display: block;height: 80px;position: fixed;right: 0;text-decoration: none; text-indent: -9999em;width: 100px;z-index: 999;}
}
@media screen and (max-width: 768px){
  
  #footer dl{max-width: 45%;}
}
@media screen and (max-width: 600px){
  h1, h2{font-size: 40px;}
  #products dl, #footer dl, #footer .address{max-width: 100%;}
  #copy nav ul li{display: block; margin: 20px auto;}
}