@font-face {
  font-family: "socialico";
  src: url("fonts/Socialico/Socialico.eot");
  src: url("fonts/Socialico/Socialico.eot?#iefix") format("embedded-opentype"),
    url("fonts/Socialico/Socialico.woff2") format("woff2"),
    url("fonts/Socialico/Socialico.woff") format("woff"),
    url("fonts/Socialico/Socialico.ttf") format("truetype"),
    url("fonts/Socialico/Socialico.svg") format("svg");
}

@font-face {
  font-family: "socialico-plus";
  src: url("fonts/SocialicoPlus/socialico-plus.eot");
  src: url("fonts/SocialicoPlus/socialico-plus.eot?#iefix")
      format("embedded-opentype"),
    url("fonts/SocialicoPlus/socialico-plus.woff2") format("woff2"),
    url("fonts/SocialicoPlus/socialico-plus.woff") format("woff"),
    url("fonts/SocialicoPlus/socialico-plus.ttf") format("truetype"),
    url("fonts/SocialicoPlus/socialico-plus.svg") format("svg");
}

@font-face {
  font-family: "CenturyGothic";
  src: url("fonts/CenturyGothic/CenturyGothic.eot");
  src: url("fonts/CenturyGothic/CenturyGothic.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("fonts/CenturyGothic/CenturyGothic.woff2") format("woff2"),
    /* Super Modern Browsers */ url("fonts/CenturyGothic/CenturyGothic.woff")
      format("woff"),
    /* Pretty Modern Browsers */ url("fonts/CenturyGothic/CenturyGothic.ttf")
      format("truetype"),
    /* Safari, Android, iOS */ url("onts/CenturyGothic/CenturyGothic.svg")
      format("svg"); /* Legacy iOS */
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.suspension-contain {
  max-height: 980px;
  overflow: hidden;
  position: relative;
}
html.suspended {
  background: rgba(0, 0, 0, 0.6);
}
body {
  max-width: 100%;
  min-width: 1200px;
  margin: 0 auto;
  text-align: center;
  font-family: "Comfortaa", sans-serif;
}
a {
  color: inherit;
  text-decoration: none;
}
a:hover {
  text-decoration: none;
  color: #fff;
}
h1,
h2,
h3,
h4,
h5 {
  padding: 0;
  margin: 0;
  line-height: 120%;
}

h2 span {
  color: #FF6500;
}

h3 {
  font-size: 18px;
  font-weight: 400;
}

p {
  margin: 0;
}

.row {
  max-width: 1200px;
  margin: 0 auto;
}

/*floats*/
.fl {
  float: left;
}
.fr {
  float: right;
}

/*typography*/
.text-primary {
  color: #b11414;
}
.text-bold {
  font-weight: 700;
}
.text-uppercase {
  text-transform: uppercase;
}
.text-center {
  text-align: center !important;
}
.text-left {
  text-align: left;
}

/*clearings*/
.clear {
  clear: both;
}
.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
  font-size: 0;
}
.clearfix {
  display: block;
}

/*cookie*/
.cc-animate.cc-revoke.cc-bottom {
  font-size: 14px;
  padding: 5px 10px;
  position: fixed;
  display: block !important;
  transform: none !important;
  bottom: 0 !important;
  left: 20px !important;
}

/*call to action*/
.destroy-on-load,
.cta {
  display: none;
}

/*gallery*/
#content .gallery-container {
  text-align: center;
}
#content .gallery {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
#content .gallery li {
  display: inline-block;
}
#content .thumbnail {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;
  display: block;
  line-height: 0.42857;
  margin-bottom: 20px;
  padding: 4px;
  transition: border 0.5s ease-in-out 0s;
}
#content .thumbnail:hover {
  transform: scale(1.02);
}
#content .page_navigation {
  display: inline-block;
}
#content .page_link,
#content .previous_link,
#content .next_link,
#content .first_link,
#content .last_link,
#content .ellipse {
  background-color: #fff;
  border: 1px solid #ddd;
  color: #0275d8;
  display: inline-block;
  line-height: 1.25;
  margin-left: -1px;
  padding: 0.5rem 0.75rem;
  position: relative;
}
#content .page_navigation > a:hover,
.page_navigation > a.active_page {
  background-color: #eceeef;
  border-color: #ddd;
  color: #014c8c;
  text-decoration: none;
}

.buttons {
  width: 254px;
  height: 56px;
  border-radius: 5px;
  padding: 14px 34px 14px 62px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  font-weight: 400;
  color: #fff;
  line-height: 120%;
  position: relative;
  font-family: "Comfortaa", sans-serif;
}

.buttons.black {
  background-color: #000000;
}

.buttons.orange {
  background-color: #FF6500;
}

.buttons.shop::before {
  content: "";
  width: 25px;
  height: 25px;
  position: absolute;
  left: 22px;
  background-size: 100% 100%;
  background: url(../images/common/shop.png) no-repeat;
}

.buttons.phone::before {
  content: "";
  width: 24px;
  height: 24px;
  position: absolute;
  left: 22px;
  background-size: 100% 100%;
  background: url(../images/common/phone.png) no-repeat;
}

/*------------------------------------header------------------------------------*/
#header {
  padding: 26px 10px 47px;
  border-top: 5px solid #FF6500;
}

#header .row {
  max-width: 1819px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#header nav a#pull {
  display: none;
}

#header nav ul {
  margin: 0;
  padding: 0;
  column-gap: 77px;
  display: flex;
  align-items: center;
  justify-content: center;
  list-style-type: none;
}

#header nav ul li a {
  font-size: 14px;
  font-weight: 700;
  line-height: 120%;
  color: #999999;
  text-transform: uppercase;
  font-family: "Comfortaa", sans-serif;
}

#header nav ul li.active-menu a,
#header nav ul li a:hover {
  color: #fff;
}

#header .buttons {
  width: 274px;
  font-size: 24px;
}

/*------------------------------------banner------------------------------------*/
#banner {
  text-align: left;
  position: relative;
  margin-bottom: 140px;
}

#banner img {
  width: 100%;
  height: 891px;
  object-fit: cover;
  object-position: right;
}

#banner h2 {
  color: #000000;
  font-size: 106px;
  padding: 34px 0 23px;
}

#banner h3 {
  color: #FF6500;
  padding-left: 153px;
}

#banner p {
  color: #000;
  font-size: 18px;
  font-weight: 400;
  line-height: 167%;
  max-width: 658px;
  padding-bottom: 85px;
  padding-left: 153px;
  font-family: "Poppins", sans-serif;
}

#banner small {
  display: block;
  font-size: 76px;
}

#banner .row {
  max-width: 1751px;
}

.banner-text {
  position: absolute;
  top: 202px;
  left: 85px;
}

#banner .buttons {
  margin-left: 153px;
}
/*------------------------------------content------------------------------------*/
.products {
  color: #fff;
  padding: 49px 10px 0;
  margin-bottom: 93px;
  background: url(../images/common/productsbg.jpg) no-repeat;
}

.products .row {
  max-width: 1600px;
}

.products h2 {
  font-size: 96px;
}

.products h3 {
  padding-bottom: 24px;
  font-family: "Poppins", sans-serif;
}

.products p {
  font-size: 18px;
  line-height: 167%;
  max-width: 658px;
  margin: auto;
  font-family: "Poppins", sans-serif;
  padding-bottom: 58px;
}

.products .wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: 10px;
}

.products dl {
  background: #FF6500;
  margin: 0;
}

.products dl dd {
  font-size: 18px;
  font-weight: 400;
  line-height: 120%;
  margin: 0;
  padding: 38px 35px 18px;
  text-align: left;
  font-family: "Comfortaa", sans-serif;
}

.products dl dd strong {
  display: block;
  font-size: 72px;
  line-height: 120%;
  padding-top: 8px;
}

#welcome {
  text-align: left;
  margin-bottom: 128px;
  padding-right: 10px;
}

#welcome .row {
  max-width: 1745px;
  margin: 0 auto 0 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: 68px;
}

#welcome h2 {
  font-size: 48px;
  padding: 33px 0 35px;
}

#welcome h3 {
  color: #656565;
  font-size: 18px;
}

#welcome p {
  font-size: 18px;
  color: #656565;
  font-weight: 400;
  line-height: 200%;
  max-width: 793px;
  padding-bottom: 62px;
  font-family: "Poppins", sans-serif;
}

#welcome img {
  height: 895px;
  object-fit: cover;
}

.handling {
  text-align: left;
  background-size: cover;
  padding: 0 10px 75px;
  background: url(../images/common/maintenance.jpg) no-repeat;
}

.handling .row {
  max-width: 1187px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: 70px;
}

.handling h2 {
  color: #FF6500;
  font-size: 72px;
  padding: 14px 0 34px;
  text-shadow: 0 0 10px rgba(255,255,255,0.5);
}

.handling h3 {
  color: #FFFFFF;
  text-shadow: 0 0 5px #000;
}

.handling p {
  color: #fff;
  font-size: 18px;
  line-height: 200%;
  max-width: 709px;
  margin: 0;
  padding-bottom: 21px;
  font-family: "Poppins", sans-serif;
  text-shadow: 0 0 5px #000;
}

.contact {
  background: #fff;
  width: 100%;
  max-width: 1146px;
  margin: -89px auto 0;
  padding: 15px 10px 46px;
  box-sizing: border-box;
}

.contact p {
  font-size: 18px;
  line-height: 120%;
  font-weight: 700;
  font-family: "Roboto", sans-serif;
}

.contact .wrapper {
  padding-top: 35px;
  width: 100%;
  max-width: 975px;
  margin: auto;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.contact span {
  display: block;
}

.contact .wrapper div {
  flex-basis: 33%;
}

.contact .wrapper div img {
  padding-bottom: 32px;
}

.contact .wrapper .address {
  padding: 0 47px;
  position: relative;
}

.contact .wrapper .address p {
  font-weight: 400;
  line-height: 200%;
}

.contact .wrapper .address::before {
  content: "";
  background: #000000;
  width: 1px;
  height: 201px;
  position: absolute;
  left: 0;
  top: 0;
}

.contact .wrapper .address::after {
  content: "";
  background: #000000;
  width: 1px;
  height: 201px;
  position: absolute;
  right: 0;
  top: 0;
}

footer nav ul {
  text-transform: uppercase;
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 77px;
  margin: 0;
  padding: 55px 0 29px;
}

footer nav ul li a {
  font-size: 14px;
  font-weight: 700;
  line-height: 120%;
  color: #999999;
}

.copy {
  font-size: 11px;
  color: #fff;
  line-height: 120%;
  width: 100%;
  padding: 26px 10px 17px;
  box-sizing: border-box;
  background: #FF6500;
}
/*------------------------------------contact form messages-----------------------------------*/
form .messages p {
  display: none;
  font-family: Arial !important;
  font-weight: 400 !important;
  letter-spacing: 0 !important;
  font-size: 16px !important;
}
form .loading {
  display: none;
}
form .alert {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
}
form .alert-success {
  color: #3c763d;
  background-color: #dff0d8;
  border-color: #d6e9c6;
}
form .alert-danger {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
}
form [type="submit"] {
  margin: 20px auto;
}

/*------------------------contact form------------------------*/
.ctc-form {
  margin: 0 auto;
  text-align: center;
}
.ctc-form input[type="text"],
.ctc-form textarea {
  font-family: Arial;
  font-size: 16px;
  color: #000;
  height: 45px;
  display: block;
  width: 100%;
  border: 1px solid #ddd;
  border-radius: 3px;
  padding: 5px 10px;
  box-sizing: border-box;
  margin: 0 auto 8px;
}
.ctc-form textarea {
  height: 120px;
  padding-top: 10px;
}
.ctc-form button {
  display: block;
}
.ctc-form .recap {
  display: inline-block;
}
.ctc-form .g-recaptcha div {
  margin: 0 auto 10px;
}
.ctc-form .ctc-hide {
  display: none;
}

/*------------------------social media------------------------*/
#footer .socials{
  padding:60px 0 50px;
}
#footer .socials a{
  font-family: 'socialico';
  font-size: 23px;
  background: #fff;
  padding:5px 6px;
  border-radius: 50%;
  margin:0 20px;
}
#footer .socials a:first-of-type{
  padding:5px 10px;
}

/*footer*/
#footer {
}

#footer .silver img {
  display: inline-block;
  vertical-align: middle;
  max-width: 50px;
}

/*inner pages*/
.inner #content {
  min-height: 400px;
  padding: 40px 0;
}

/*privacy policy*/
.inPrivacyBox {
  max-width: 850px;
  margin: 0 auto;
}
.inPrivacyBox p {
  text-align: justify !important;
}

/** Responsive
-------------------------------------------------------*/
@media screen and (max-width: 1900px) {
  #banner h2 {
    font-size: 90px;
  }

  #banner small {
    font-size: 60px;
  }

  #banner h3,
  #banner p {
    padding-left: 100px;
  }

  #banner .buttons {
    margin-left: 100px;
  }

  .banner-text {
    left: 70px;
    top: 105px;
  }
}

@media screen and (max-width: 1800px) {
  .banner-text {
    left: 10px;
  }

  #banner h3,
  #banner p {
    padding-left: 70px;
  } 

  #banner .buttons {
    margin-left: 70px;
  }

  #banner img {
    height: 780px;
  }
}

@media screen and (max-width: 1600px) {
  #banner {
    margin-bottom: 70px;
  }

  #banner img {
    height: 740px;
  }

  #banner h2 {
    font-size: 80px;
  }

  #banner small {
    font-size: 55px;
  }

  #banner h3,
  #banner p {
    padding-left: 10px;
  } 

  #banner .buttons {
    margin-left: 10px;
  }


  .products h2 {
    font-size: 65px;
  }

  .products p {
    font-size: 16px;
  }


  .products dl dd strong {
    font-size: 60px;
  }

  #welcome img {
    height: 805px;
    width: 100%;
    max-width: 796px;
  }

  .handling h2 {
    font-size: 60px;
  }

  .handling p {
    font-size: 16px;
  }
}

@media screen and (max-width: 1440px) {
  .buttons {
    width: 200px;
    height: 45px;
    font-size: 15px;
  }


  #header .buttons {
    width: 230px;
    font-size: 17px;
  }

  #header nav ul {
    column-gap: 30px;
  }

  #banner h2 {
    font-size: 70px;
  }

  #banner small {
    font-size: 45px;
  }

  #banner p {
    font-size: 16px;
    padding-bottom: 40px;
  }

  #banner img {
    height: 670px;
  }

  .products dl dt img {
    width: 100%;
  }

  .products dl dd {
    font-size: 16px;
  }

  .products dl dd strong {
    font-size: 40px;
  }

  #welcome img {
    height: 670px;
  }

  #welcome h2 {
    padding: 15px 0;
  }

  #welcome p {
    font-size: 16px;
    padding-bottom: 20px;
  }
}

@media screen and (max-width: 1300px) {
  #banner img {
    height: 605px;
  }

  #banner h2 {
    font-size: 60px;
  }

  #banner small {
    font-size: 35px;
  }

  #banner p {
    max-width: 550px;
  }

  #welcome .row {
    column-gap: 20px;
  }
}

@media screen and (max-width: 1200px) {
  #banner img {
    height: 560px;
  }

  #welcome {
    margin-bottom: 60px;
  }

  #welcome img {
    height: 550px;
  }

  #welcome h2 {
    font-size: 40px;
  }

  .handling h2 {
    font-size: 50px;
  }
} 

@media screen and (max-width: 1024px){
  body {
    min-width: 320px;
  }

  #header .row {
    flex-wrap: wrap;
  }

  #header .logo-holder {
    flex-basis: 100%;
    padding-bottom: 20px;
  }

  .banner-text {
    position: relative;
    text-align: center;
    left: 0;
    top: 0;
    padding-top: 30px;
  }

  #banner h2 {
    padding: 20px 0;
  }

  #banner p {
    margin: auto;
  }

  #banner .buttons {
    margin: 0 auto;
  }

  .products {
    margin-bottom: 30px;
  }

  .products h2 {
    font-size: 50px;
  }

  #welcome {
    padding: 20px 10px;
  }

  #welcome .row {
    flex-direction: column;
  }

  #welcome .right {
    padding-top: 30px;
  }

  .handling {
    padding: 40px 10px;
    background-size: cover !important;
  }

  .handling img {
    width: 100%;
    max-width: 300px;
  }

  .handling .row {
    flex-direction: column-reverse;
  }

  .contact {
    margin-top: 0;
  }
}

@media screen and (max-width: 800px){
	#header {padding: 0}
	#header .row {width: 100%}
	#header nav {display:block; height: auto; width: 100%; order: 0;}
  #header nav ul { width: 100%; display: none; height: auto;border-bottom:5px solid #000; padding: 0 15px;}
  #header nav ul li { width: 100%;position: relative; }
  #header nav ul li a { display: block; float:none; padding: 10px 0;}
  #header nav a {text-align: left; width: 100%;}
	#header nav a strong {position: absolute; top: 50%; transform: translateY(-50%); left: 15px;}
	#header nav a#pull {display: block; color: #fff; background-color: #FF6500; height: 30px;padding: 10px 0; width: 100%; position: relative;}
	#header nav a#pull:after { content:""; background: url('../images/nav-icon.png') no-repeat; width: 20px; height: 20px; display: inline-block; position: absolute; right: 15px; top: 50%; transform: translateY(-50%);}
	
  #header .logo-holder {
    padding: 20px 0;
    order: 1;
  }

  #header .phone {
    flex-basis: 100%;
    margin: auto;
    margin-bottom: 20px;
    order: 2;
  }

  #banner h2 {
    font-size: 40px;
  }

  #banner small {
    font-size: 25px;
  }

  #banner img {
    height: 450px;
  }

  .products {
    background-size: cover !important;
  }

  .products h2 {
    font-size: 35px;
  }

  .products .wrapper {
    flex-direction: column;
    align-items: center;
  }

  .products .wrapper dl {
    flex-basis: 100%;
    margin: 15px 0;
  }

  .products dl dd {
    padding: 25px 10px 18px;
  }

  #welcome .right {
    text-align: center
  }

  #welcome .buttons {
    margin: auto;
  }

  #welcome img {
    height: auto;
  }

  .handling {
    text-align: center
  }

  .handling h2 {
    font-size: 40px;
    padding-bottom: 20px;
  }

  .handling h3 {
    padding-top: 20px;
  }

  .handling .buttons {
    margin: auto;
  }

  .contact .wrapper {
    flex-direction: column;
    align-items: center;
  }

  .contact .wrapper div {
    flex-basis: 100%;
    margin: 20px 0;
  }

  .contact .wrapper .address::before,
  .contact .wrapper .address::after {
    display: none
  }

  footer nav ul {
    padding: 10px 0;
    column-gap: 20px;
  }

	.cta{background: #FF6500  url("../images/common/phonecall.png") no-repeat center center;border-bottom-left-radius: 40px;border-top: 2px solid #000 ;border-top-left-radius: 40px;bottom: 1%;display: block;height: 60px;position: fixed;right: 0;text-decoration: none; text-indent: -9999em;width: 70px;z-index: 999;}
}

@media screen and (max-width: 500px) {
  #banner img {
    height: 300px;
  }

  footer nav ul {
    flex-direction: column;
    align-items: center;
  }

  footer nav ul li {
    margin: 10px 0;
  }
}

@media screen and (max-width: 425px) {
  #banner {
    margin-bottom: 20px;
  }

  #banner h2 {
    font-size: 35px;
  }
}
