*,
*:before,
*:after {
  box-sizing: inherit;
}

/*cookie*/
.cc-animate.cc-revoke.cc-bottom {
  font-size: 14px;
  padding: 5px 10px;
  position: fixed;
  display: block !important;
  transform: none !important;
  bottom: 0 !important;
  left: 20px !important;
}

/*call to action*/
.destroy-on-load,
.cta {
  display: none;
}

html {
	box-sizing: border-box;
}

body {
    max-width: 100%;
    margin: 0 auto;
    text-align: left;
    color: #333;
    font-size: 16px;
    overflow-x: hidden;
    font-family: 'Poppins', sans-serif;
    position: relative;
}

a {
    color: inherit;
    text-decoration: none;
    transition: all ease-out 0.3s;
    word-break: break-all;
}

a:hover {
    text-decoration: none;
    color: #3868B2;
}

h1, h2, h3, h4, h5, h6 {
    padding: 0;
    margin: 0 0 20px;
    line-height: 100%;
    font-weight: 700;    
}

h1 {
    font-size: 40px
}

h2 {
    font-size: 40px;
}

h3 {
    font-size: 55px;
}

h4 {
    font-size: 40px;
}

h5 {
    font-size: 25px;
}

h6 {
    font-size: 20px;
}

p {
    line-height: 32px;
}

ul {
    padding-left: 30px;
    margin-top: 0;
    columns: 2;
}

p {
    margin: 0 0 20px;
    color: #fff;
}

.row {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 10px;
    width: 100%;
}

/* hr.new1 {border-top: 1px solid #7e7878; background-color: #000000;} */

/*button*/

a.btn, button {
    background: transparent;
    height: 48px;
    line-height: 44px;
    border: 2px solid white;
    display: inline-block;    
    text-align: center;
    width: 188px;
    padding: 0px;
    font-size: 17px;
    color: #fff;
}

/*image*/

img {
    display: block;
    max-width: 100%;
}

.img-responsive {
    width: 466px;
    height: 279px;
    object-fit: cover;
}

/*floats*/

.fl {
    float: left;
}

.fr {
    float: right;
}

.flex {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    justify-content: space-between;
    row-gap: 20px;
    column-gap: 20px;
}

/*typography*/

.text-primary {
    color: #3868B2;
}

.text-bold {
    font-weight: 700;
}

.text-uppercase {
    text-transform: uppercase
}

.text-center {
    text-align: center !important;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

/*clearings*/

.clear {
    clear: both;
}

.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
    font-size: 0;
}

.clearfix {
    display: block;
}

/*cookie*/

.cc-animate.cc-revoke.cc-bottom {
    font-size: 14px;
    padding: 5px 10px;
    position: fixed;
    display: block!important;
    transform: none!important;
    bottom: 0!important;
    left: 20px!important;
}

/*call to action*/

.destroy-on-load, .cta {
    display: none;
}

/*contact form messages*/

form .messages p {
    display: none;
    font-weight: 400 !important;
    letter-spacing: 0 !important;
    font-size: 16px !important;
}

form .loading {
    display: none;
}

form .alert {
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
}

form .alert-success {
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;
}

form .alert-danger {
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
}

form [type="submit"] {
    margin: 20px auto
}

/* gallery */

#content .gallery-container {
    text-align: center;
}

#content .gallery {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#content .gallery li {
    display: inline-block;
}

#content .thumbnail {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    display: block;
    line-height: .42857;
    margin-bottom: 20px;
    padding: 4px;
    transition: border 0.5s ease-in-out 0s;
}

#content .thumbnail:hover {
    transform: scale(1.02);
}

#content .page_navigation {
    display: inline-block;
}

#content .page_link, #content .previous_link, #content .next_link, #content .first_link, #content .last_link, #content .ellipse {
    background-color: #fff;
    border: 1px solid #ddd;
    color: #0275d8;
    display: inline-block;
    line-height: 1.25;
    margin-left: -1px;
    padding: 0.5rem 0.75rem;
    position: relative;
}

#content .page_navigation>a:hover, .page_navigation>a.active_page {
    background-color: #eceeef;
    border-color: #ddd;
    color: #014c8c;
    text-decoration: none;
}

/*header*/

#header_wrapper {background: #000; border-bottom: 1px solid #353535;}

#header {
    display: flex;
	justify-content: space-between;
	padding: 20px 50px;
	align-items: center;
}

#header nav {
    max-width: 100%;
    position: relative;
    z-index: 1;
    width: 900px;
}

#header nav a#pull {
    display: none;
}

#header ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#header ul li a {
    font-size: 17px; 
	color: #FFF;
	text-transform: uppercase;
}

#header ul li:hover a, #header ul li.active-menu a {   
    color: #DA6904;
}

#header .phone_holder a {color: #FFF; font-size: 17px;}
#header .phone_holder a i {margin: 0 10px 0 0;}

/*banner*/
#banner_wrapper { 
	background: url('images/banner.png') center center no-repeat;   
	background-size: cover;
}

#banner {   
    position: relative;
    text-align: center;
	min-height: 908px;
}

#banner .box {
    width: 100%;
    max-width: 800px;
	margin: 0 auto;
}

#banner .box img {
	display: block; margin: 0 auto 70px;
}

#banner .btn {
    letter-spacing: 0;
    width: 188px;
	height: 48px;
	line-height: 44px;
	font-size: 17px;	
}
#banner .btn:hover, a.btn:hover, #product a.btn:hover {background: #DA6904; border: 2px solid #DA6904; color: #FFF;}

#banner h4 {
    font-size: 30px;
    text-align: center;
    color: #FFF;
	letter-spacing: 5px;
	font-weight: 400;    
}

#banner p {
    letter-spacing: 0.02em;   
    text-align: center;
	font-size: 17px;
	line-height: 150%;
	margin: 0 0 30px 0;
}

#welcome_wrapper {background: #FFF;}
.welcome {text-align: center; padding: 20px 10px;}
.welcome h4 {color: #000; font-size: 17px; letter-spacing: 15px; margin: 0; font-weight: 400; }

#welcome {
    padding: 115px 10px;
    background: url('images/welcomebg.jpg') top left no-repeat;
    background-size: cover;
}

#welcome .txt {
    width: 720px;
    max-width: 100%;
    margin: 0 0 0 auto;
}

#welcome h1 {
	margin: 0 0 30px 0;
	color: #fff;   
	font-weight: 400;
	font-size: 30px;
    letter-spacing: 5px;
}

#welcome p {
    font-size: 17px; 
	line-height: 150%;
	margin: 0 0 30px 0;
}

#welcome .btns {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    column-gap: 20px;
}

#welcome .btns .btn:last-of-type {
    background: #D52027;
}

#welcome .content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 15px;
    position: relative;
    z-index: 2;
}

#welcome .content .item {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 15px;
    background: #FFF;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    width: 345px;
    max-width: 100%;
    padding: 10px;
    min-height: 100px;
}

#welcome .content h6 {
    margin: 0;
}

.welcome p {
    color: #000000;
    text-align: center;
    position: relative;
    top: 10px;
    letter-spacing: 0.5em;
}

#About .content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 30px
}

#About .grid-container {
    display: grid;
    grid-template-columns: 25% 25% 50%;
}

#About .grid-item {
    font-size: 30px;
    text-align: center;
}

#About .row {
    max-width: 100%;
    padding: 0;
    position: relative;
}

#About img {
    width: 100%;	
}

#About p {
    color: #000000;
    text-align: left;
    width: 296px;
    position: relative;
}

#About .grid-container .grid-item2{
    align-self: center;
    width: fit-content;
    margin: auto;
	padding: 10px;
}

#About .txt h1 {
    color: #000000;
    text-align: left;
    position: relative;
    letter-spacing: 0.2em;
}

#About .grid-item3 {background: #E9ECED; padding: 80px; display: flex; align-items: center; justify-content: space-between;}
#About .grid-item3 h3 {font-size: 30px; color: #000; font-weight: 400; width: 100px; line-height: 120%; letter-spacing: 5px;}
#About .grid-item3 img {max-width: 473px; align-self: center;}


#About .grid-item6 {
    background: #000;
    width: 100%;    
	display: flex;
	justify-content: center;
	align-items: center;
	flex-flow: column;
	padding: 10px;
}
#About .list li {
    color: #fff;
	font-size: 20px;
	letter-spacing: 5px;
}

#About .list {    
    text-align: left;
    columns: 1;
    line-height: 2;
	padding: 0;	
	margin: 0 0 30px 0;
}

#product {padding: 80px 10px;}
#product .small {letter-spacing: 15px; font-size: 17px; margin: 0;}
#product h3 {text-align: center; letter-spacing: 3px; font-size: 30px; color: #000; font-weight: 400; margin: 0 0 20px 0;}

#product p {
    color: #000000;
    text-align: center;        
}

#product .list3 {
	margin: 40px 0 0 0;
    list-style-type: none;
    display: inline-flex;    
	padding: 0;
	justify-content: space-between;
	width: 100%;
	align-items: center;
}

#product .list3 li{    
	width: 33.333%;
	text-align: center;
}

#product .list3 li img{
	display: block; margin: 0 auto 30px; padding: 10px;
}

#product .list3 .prod_price {
    border-left: 1px solid #DFE3E4; 
}

#product .list3 p {margin: 0;}
#product .list3 p small {font-size: 17px; color: #212121;}

#product .list3 .last { border-right: 1px solid #DFE3E4; }

#product .list3 .prod_price h4 {font-weight: 400; width: 260px; margin: 0 auto 20px; line-height: 65%; letter-spacing: 5px;}

#product .list3 .prod_price h4 a {
    font-size: 25px; 
	color: #202020;	
}

#product a.btn, button {
    background: transparent;
    height: 48px;
    line-height: 44px;
    border: 2px solid #000000;
    display: inline-block;   
    text-align: center;
    width: 188px;
    padding: 0px;
    font-size: 17px;
    color: #000;
	margin: 0 auto;
}

#product .btn {text-align: center; margin: 40px 0 0 0;}

#handling_wrapper {background: #E9ECED;}
#handling {    
    position: relative;    
    padding: 80px 10px;
	color: #212121;
	text-align: center;
}

#handling h4 {   
    font-size: 30px;
    font-weight: 400;
    letter-spacing: 5px;
}

#handling p {
    font-size: 17px; 
	color: #212121;
	padding: 0 160px;
	margin: 0;
}

#contact {   
	display: flex;
    justify-content: space-between;
	padding: 40px 0;
	align-items: center;
}

#contact .column {padding: 0 10px;}

#contact .column p {
    color: #212121;
    font-size: 17px;
    font-weight: 400;    
    margin: 0;
	line-height: 100%;
}

#contact .social p a {display: inline-block !important; font-size: 20px; margin: 0 6px !important; }
#contact .column p a {display: block;color: #212121; margin: 15px 0 0 0;}
#contact .column p a:hover, #header .phone_holder a:hover {color: #DA6904;}

/*footer*/

#footer_wrapper {background: url('images/footer.png') bottom center no-repeat; background-size: cover;}
#footer {
    display: flex;
    align-items: center;
    justify-content: space-between;  
	min-height: 178px;          	
}

#footer ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;    
    justify-content: space-between;
	width: 840px;	
}

#footer ul li a {
    font-size: 17px;    
    text-align: center;      
    font-weight: 400;
	color: #FFF;
}

#footer ul li:hover a, #footer ul li.active-menu a {   
    color: #DA6904;
}

#copyright_wrapper {background: #020202;}
#copyright {padding: 15px 10px;}
#copyright p {color: #FFF; font-size: 17px; margin: 0; text-align: center;}



/*========================================================================================================*/


@media (max-width: 1440px) {
	#About .grid-item3 {padding: 20px;}
	#About .list li {letter-spacing: 1px;}
}

@media (max-width: 1240px) {
	#header nav {width: 650px;}
	
	#welcome .txt {margin: 0 auto; text-align: center;}
	
	#About .grid-item3 h3 {width: auto; letter-spacing: 2px; font-size: 25px;}
	#About .grid-item3 img {max-width: 320px; padding: 10px;}
}

@media (max-width: 1024px) {
	
	#header .logo-holder {margin: 0 0 20px 0;}
	#header .phone_holder {margin: 20px 0 0 0; background: #FFF; padding: 15px;}
	#header .phone_holder a {color: #DA6904;}
	
	#header nav a#pull {display: flex; justify-content: space-between; align-items: center; color: #FFF; background: #DA6904; padding: 10px 20px;}
	#header ul {display: none; columns: 1; background: #222;}
	#header ul li {display: block; border-bottom: 1px solid #444;}
	#header ul li:last-child {border-bottom: none;}
	#header ul li a {display: block; padding: 5px 20px;}
	#header ul li:hover a, #header ul li.active-menu a {background: #FFF; color: #DA6904;}
	
	#header {flex-flow: column; padding: 20px 10px;}
	#header nav {width: 100%;}
	
	#About .grid-container {grid-template-columns: 50% 50%;}
	
	#About .grid-item6, #About .list {text-align: center; list-style-position: inside;}
	
	#footer ul {width: 750px;}
}

@media (max-width: 768px) {
	#About .grid-item3 {flex-flow: column; padding: 20px; text-align: center;}
	
	#product .list3 {flex-flow: column;}
	#product .list3 li {width: 100%; max-width: 460px; margin: 0 auto 20px; box-shadow: 0px 0px 3px #000;}
	#product .list3 li .prod_price {background: #EEE; padding: 10px;}
	
	#About .list li {line-height: 120%; font-size: 17px; }
	#handling p {padding: 0;}
	
	#footer {flex-flow: column; justify-content: flex-start; padding: 20px 10px;}
	
	#footer .logo_holder {order: 1; margin: 0 0 20px 0;}
	#footer nav {order: 2; width: 100%;}
	#footer ul {width: 100%; flex-flow: column; text-align: center;}
	#footer ul li {border-bottom: 1px solid #FFF; padding: 5px; width: 100%;}
	#footer ul li:last-child {border: 0;}
  .cta{background: #DA6904  url("images/phonecall.png") no-repeat center center;border-bottom-left-radius: 40px;border-top: 2px solid #000 ;border-top-left-radius: 40px;bottom: 1%;display: block;height: 80px;position: fixed;right: 0;text-decoration: none; text-indent: -9999em;width: 100px;z-index: 999;}

}

@media (max-width: 640px) {
	#About .grid-container {grid-template-columns: 100%;}
	#About p {width: 100%; margin: 0;}
	
	
	#About .grid-container .grid-item2, #About .grid-item6 {text-align: center; padding: 20px;}
	
	#About .grid-container .grid-item2 {order: 2;}
	#About .grid-container .grid-item1 {order: 1;}
	#About .grid-container .grid-item3 {order: 5;}
	#About .grid-container .grid-item4 {order: 3;}
	#About .grid-container .grid-item5 {order: 6;}
	#About .grid-container .grid-item6 {order: 4;}
	
	#About .list li {line-height: 2;}
	
	#contact {flex-flow: column;}
	#contact .column {width: 100%; max-width: 340px; margin: 0 auto 10px; text-align: center; background: #EEE; padding: 20px; }
	#contact .social {margin: 0; }
	
	#About .txt h1, #About p {text-align: center;}
}

@media (max-width: 480px) {
	#banner {min-height: auto; padding: 0 10px 40px;}
}

@media (max-width: 360px) {
}








