@font-face {
  font-family: "socialico";
  src: url("fonts/Socialico/Socialico.eot");
  src: url("fonts/Socialico/Socialico.eot?#iefix") format("embedded-opentype"),
    url("fonts/Socialico/Socialico.woff2") format("woff2"),
    url("fonts/Socialico/Socialico.woff") format("woff"),
    url("fonts/Socialico/Socialico.ttf") format("truetype"),
    url("fonts/Socialico/Socialico.svg") format("svg");
}
*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.suspension-contain {
  max-height: 980px;
  overflow: hidden;
  position: relative;
}
html.suspended {
  background: rgba(0, 0, 0, 0.6);
}
body {
  max-width: 100%;
  min-width: 1200px;
  font-family: 'Montserrat', sans-serif;
  color: #333;
  margin: 0;
}
a {
  color: inherit;
  text-decoration: none;
}
a:hover {
  text-decoration: none;
  color: #DB4735;
}
h1 span,
h2 span{
  color: #DB4735;
}
h1,
h2{
  margin: 0;
  font-weight: 400;
  padding: 0 0 20px;
  font-size: 72px;
  font-family: 'Bebas Neue', cursive;
}
h3{
  font-size: 60px;
  font-weight: 400;
  padding: 0 0 20px;
  margin: 0;
  font-family: 'Bebas Neue', cursive;
}
h4 {
  font-size: 48px;
  font-weight: 400;
  padding: 0 0 20px;
  margin: 0;
  font-family: 'Bebas Neue', cursive;
}
h5 {
  font-size: 24px;
  font-weight: 400;
  padding: 0 0 20px;
  margin: 0;
  font-family: 'Bebas Neue', cursive;
 
}
h6 {
  color: #DB4735;
  font-size: 18px;
  padding: 0 0 20px;
  font-weight: 400;
  margin: 0;
  font-family: 'Bebas Neue', cursive;
}
p{
  font-size: 14px;
  line-height: 120%;
  margin: 0;
  padding: 0 0 20px;
}
p a:hover{
  color: #DB4735;
}
ul{
  padding: 0;
  margin: 0;
}
.row {
  max-width: 1430px;
  margin: 0 auto;
  padding: 0 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/*clearings*/
.clear {
  clear: both;
}
.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
  font-size: 0;
}
.clearfix {
  display: block;
}

/*cookie*/
.cc-animate.cc-revoke.cc-bottom {
  font-size: 14px;
  padding: 5px 10px;
  position: fixed;
  display: block !important;
  -webkit-transform: none !important;
      -ms-transform: none !important;
          transform: none !important;
  bottom: 0 !important;
  left: 20px !important;
}

/*call to action*/
.destroy-on-load,
.cta {
  display: none;
}

.btn {
  position: relative;
  overflow: hidden;
  font-size: 12px;
  color: #FFF;
  background: #333;
  display: flex;
  font-weight: 400;
  letter-spacing: 0.2em;
  align-items: center;
  justify-content: center;
  column-gap: 10px;
  padding: 10px;
  width: 180px;
  height: 60px;
  text-align: center;
}
.btn:hover{
  background: #DB4735;
}

.btn.alt{background: #DB4735;}
.btn.alt:hover{background: #333;}

.flex{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
img{
  max-width: 100%;
}

/*------------------------------------header------------------------------------*/
#header{position: relative; z-index: 2; border-bottom: 1px solid rgb(255 255 255 / 20%);}
#header .top .row{max-width: 1270px;}
#header .bot .row{max-width: 1170px;}
#header .content{display: flex; align-items: center; justify-content: space-between; column-gap: 30px;}
#header nav a#pull {display: none;}
#header nav ul {width: 490px;max-width: 100%;margin: 0;padding: 0;list-style: none;display: flex;align-items: center;justify-content: space-between;}
#header nav ul li a {color: #FFF;font-size: 14px;display: flex;align-items: center;justify-content: center; letter-spacing: 0.2em; text-transform: uppercase; font-weight: 700;}
#header nav ul li.active-menu a,
#header nav ul li a:hover {border-color: #FFF;}
#header .bot{background: #DB4735;}
#header .bot .content{position: relative; height: 80px; justify-content: center;}
#header .bot .cart{position: absolute; right: 0; top: 50%; transform: translateY(-50%);}
#header .bot img{display: block; margin: 0 0 0 auto;}
#header .top{padding: 25px 0;}
#header .top .content>div{width: 283px; max-width: 100%;}
#header .logo img{display: block; margin: 0 auto;}
#header .social .in{display: flex; align-items: center; justify-content: space-between; width: 130px;}

/*------------------------------------banner------------------------------------*/
#banner{background: url(../images/common/banner.jpg) no-repeat center center; background-size: cover;padding: 50px 0;min-height: 719px;position: relative;}
#banner .row{max-width: 1500px;position: absolute;left: 0;right: 0;bottom: 85px;}
#banner h2{padding: 0; font-size: 110px; line-height: 100%;}
#banner p{padding-bottom: 0; width: 500px; max-width: 100%; font-size: 14px; margin: 0 auto;}
#banner .content{width: 920px; max-width: 100%; margin: 0 auto; min-height: 310px; background: rgba(235 235 235 / 90%); text-align: center; position: relative; padding: 20px; display: flex; align-items: center; justify-content: center; flex-direction: column;}
#banner .small{font-size: 14px; letter-spacing: 0.2em; text-transform: uppercase;}
#banner .btn{margin: 0 auto; position:  absolute; bottom: -25px; left: 0; right: 0;}

/*------------------------------------content------------------------------------*/
#features{padding: 60px 0 40px;}
#features h2{padding-bottom: 0; text-align: center;}
#features .content{display: flex; column-gap: 30px; justify-content: space-between; padding-bottom: 100px; row-gap: 20px; align-items: center;}
#features .txt{width: 540px; max-width: 100%; display: flex; column-gap: 30px; align-items: center; justify-content: space-between;}
#features .txt:not(:last-of-type){margin-bottom: 70px;}
#features .item{font-size: 14px; width: 544px;}
#features .item:first-of-type{text-align: right; width: 370px; justify-content: flex-end; max-width: 100%;}
#features .item:last-of-type{text-align: left; width: 370px; justify-content: flex-start; max-width: 100%;}
#features .item h6{display: block; font-family: 'Bebas Neue', cursive;; font-size: 30px;}
#features .item img[alt*="info"]{width: 44px; height: 44px; object-fit: scale-down;}
#features h5{padding-bottom: 0;}

#products{padding: 80px 0 120px; background: #EBEBEB;}
#products h2{text-align: center; padding-bottom: 90px;}
#products .content{column-gap: 30px; row-gap: 20px; margin: 0 auto; display: flex; justify-content: space-between; margin-bottom: 20px;}
#products .content:last-of-type{margin-bottom: 40px;}
#products h2{padding-bottom: 90px; text-align: center;}
#products h5{padding-bottom: 0; font-weight: 500; font-size: 14px; font-family: 'Montserrat', sans-serif; text-align: center;}
#products h6{font-weight: 700; font-size: 24px; display: block; text-align: center; font-family: 'Montserrat', sans-serif; color: #333;}
#products img{margin: 0 auto 20px; display: block;}
#products .btn{margin: 0 auto 10px;}

#fit{color: #FFF;}
#fit .content{display: flex; align-items: center; justify-content: center;}
#fit .row{max-width: 100%; padding: 0;}
#fit .item{padding: 30px; width: calc(100% / 3); min-height: 403px;display: flex;justify-content: flex-end; align-items: center;}
#fit .item .in{width: 220px;max-width: 100%;display: flex;flex-direction: column;margin: 0;}
#fit .item:nth-of-type(1){background: url(../images/common/fit-1.jpg) no-repeat center center; background-size: cover;}
#fit .item:nth-of-type(2){background: url(../images/common/fit-2.jpg) no-repeat center center; background-size: cover;}
#fit .item:nth-of-type(3){background: url(../images/common/fit-3.jpg) no-repeat center center; background-size: cover;}
#fit p{padding-bottom: 10px; font-size: 14px;}
#fit h4{padding-bottom: 10px; color: #FFF;}

#feel{color: #FFF; padding: 100px 0 130px; background: url(../images/common/rhythm-bg.jpg) no-repeat center center; background-size: cover;}
#feel span{font-size: 14px; letter-spacing: 0.2em; text-transform: uppercase;}
#feel .txt{width: 450px; max-width: 100%;}
#feel .content{width: 430px; max-width: 100%; margin: 0 0 0 auto;}

#rhythm{background: linear-gradient(to right, #F1F1F1, #FFFFFF);}
#rhythm .content{display: flex; column-gap: 30px; row-gap: 20px; align-items: center; justify-content: space-between;}
#rhythm .txt{width: 440px; max-width: 100%;}
#rhythm h2{padding-bottom: 20px;}
#rhythm p:last-of-type{padding-bottom: 50px;}
#rhythm span{font-size: 14px; letter-spacing: 0.2em; text-transform: uppercase;}
#rhythm h5{color: #DB4735;}

#blog{padding: 100px 0 130px;}
#blog .content{display: flex; align-items: center; justify-content: center; column-gap: 30px; row-gap: 20px;}
#blog .item{width: 442px; max-width: 100%;}
#blog .item img{margin-bottom: 20px;}
#blog .in{display: flex; align-items: center; justify-content: space-between; column-gap: 40px;}
#blog .date{font-size: 30px; color: #888888; font-weight: 300; text-align: center; line-height: 100%;}
#blog .date span{font-size: 72px; font-weight: 500; color: #DB4735; line-height: 120%;}
#blog h6{color: #333;  padding-bottom: 5px;}
#blog p{font-size: 11px; color: #888888; padding-bottom: 5px;}
#blog a{font-size: 12px; color: #DB4735; letter-spacing: 0.05em;}

/*footer*/
#footer{background: #191919; color: #FFF;}
#footer .top{padding: 130px 0 100px;}
#footer .top .content{display: flex; align-items: flex-start; justify-content: space-between; column-gap: 30px; row-gap:20px;}
#footer .top .more{display: flex; align-items: flex-start; justify-content: space-between; column-gap: 30px; row-gap:20px; width: 890px; max-width: 100%;}
#footer .top .more .item:first-of-type{width: auto;}
#footer .top .more .item p{display: flex; column-gap: 20px;}
#footer .top .more .item img{height: 16px; width: 16px; object-fit: scale-down;}
#footer .item{width: 327px; max-width: 100%;}
#footer .logo img{display: block; margin: 0 auto;}
#footer ul{list-style: none;margin: 0; position: relative; padding: 0; font-size: 12px; text-transform: uppercase; line-height: 250%;}
#footer li.active-menu a,#footer li a:hover{color: #DB4735;}
#footer .bot{border-top: 2px solid #363636; padding: 30px 0;}
#footer .bot .content{display: flex; align-items: center; justify-content: space-between; column-gap: 30px; row-gap: 20px;}
#footer .bot .copy{font-size: 11px; color: #818181; padding: 0;}

/*------------------------------------contact form messages-----------------------------------*/
form .messages p {
  display: none;
  font-family: Arial !important;
  font-weight: 400 !important;
  letter-spacing: 0 !important;
  font-size: 16px !important;
}
form .loading {
  display: none;
}
form .alert {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
}
form .alert-success {
  color: #3c763d;
  background-color: #dff0d8;
  border-color: #d6e9c6;
}
form .alert-danger {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
}
form [type="submit"] {
  margin: 20px auto;
}

/*------------------------contact form------------------------*/
.ctc-form {
  margin: 0 auto;
  text-align: center;
}
.ctc-form input[type="text"],
.ctc-form textarea {
  font-family: Arial;
  font-size: 16px;
  color: #000;
  height: 45px;
  display: block;
  width: 100%;
  border: 1px solid #ddd;
  border-radius: 3px;
  padding: 5px 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0 auto 8px;
}
.ctc-form textarea {
  height: 120px;
  padding-top: 10px;
}
.ctc-form button {
  display: block;
}
.ctc-form .recap {
  display: inline-block;
}
.ctc-form .g-recaptcha div {
  margin: 0 auto 10px;
}
.ctc-form .ctc-hide {
  display: none;
}

/*inner pages*/
.inner #content {
  min-height: 400px;
  padding: 40px 0;
}

/*privacy policy*/
.inPrivacyBox {
  max-width: 850px;
  margin: 0 auto;
}
.inPrivacyBox p {
  text-align: justify !important;
}

/** Responsive
-------------------------------------------------------*/

@media screen and (min-width: 992px) and (max-width: 1399px){
  #header nav ul{width: 500px;}
  #header .more{width: 800px;}
}
@media screen and (max-width: 1024px){
  body {min-width: 320px}
  h1,h2{font-size: 35px !important;}
  h3{font-size: 30px !important;}
  h4{font-size: 26px !important;}
  #header {padding: 0; background: none; z-index: 999; position: relative;}
  #header .row {width: 100%;display: block;}
  #header .logo{padding:  50px 0 20px;margin: 0 auto;display:block;}
  #header nav {display:block; height: auto; }
  #header nav ul {background: #DB4735;position: fixed;top: 40px;right: 0;left: 0;margin: 0 auto;width: 100%; display: none; height: auto;border-bottom:5px solid #000;}
  #header nav ul li {width: 100%;position: relative; }
  #header nav ul li a { display: block; float:none; padding: 10px 15px; color:#fff; height: auto;}
  #header nav a {text-align: left; width: 100%;}
  #header nav a strong {position: absolute; top: 50%; -webkit-transform: translateY(-50%); -ms-transform: translateY(-50%); transform: translateY(-50%); left: 15px;}
  #header nav a#pull {position: fixed; top:0;left: 0;right: 0;margin: 0 auto;display: block; color: #fff; background-color: #DB4735; height: 40px;padding: 10px 0; width: 100%;}
  #header nav a#pull:after { content:""; background: url('../images/common/nav-icon.png') no-repeat; width: 20px; height: 20px; display: inline-block; position: absolute; right: 15px; top: 50%; -webkit-transform: translateY(-50%); -ms-transform: translateY(-50%); transform: translateY(-50%);}
  #header nav ul li.active-menu a, #header nav ul li a:hover{border-top: unset; background: #DB4735;}
  #banner{padding: 50px 0;}
  .cta{background: #DB4735  url("../images/common/phonecall.png") no-repeat center center;border-bottom-left-radius: 40px;border-top: 2px solid #EBEBEB ;border-top-left-radius: 40px;bottom: 1%;display: block;height: 80px;position: fixed;right: 0;text-decoration: none; text-indent: -9999em;width: 100px;z-index: 999;}
  #header .bot .content{height: 0;}
  #header .top{padding: 60px 0 20px;}
  #header .bot .cart{display: none;}
  #footer .top, #feel, #products, #features, #blog{padding: 40px 0;}
  #footer .bot .content, #blog .in, #features .txt, #header .content, #features .content, #products .content, #rhythm .content, #footer .top .content, #footer .top .more, #blog .content{flex-wrap: wrap; justify-content: center;}
  #header .social .in{margin: 0 auto;}
  #banner{min-height: 400px;}
  #features .txt:not(:last-of-type){margin-bottom: 20px;}
  #features .txt{justify-content: center; align-items: center; text-align: center;}
  #rhythm p:last-of-type, #products h2{padding-bottom: 20px;}
  #banner .content{min-height: auto; padding-bottom: 60px;}
  #footer .top .more .item:first-of-type{display: none;}
}