@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

body {
    font-family: 'Poppins', sans-serif;
}

.container {
    max-width: 1400px;
}

#brand-line {
    height:10px;
    background: url('img/brand-line.jpg') no-repeat center center;
}

#main-navbar {
    padding: 20px 0;
}
.navbar-brand {
}
#main-menu .navbar-nav {
    margin-top: 10px;
}

#main-menu .nav-item {
    font-size: 16px;
    padding: 8px 14px;
}

#cart-menu,
#cart-menu .nav-item,
#cart-menu .nav-item .nav-link {
    padding: 0;
}
#cart-menu {
    margin-left: 20px;
}


/* Carousel base class */
.carousel {
  margin-bottom: 130px;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
    width: 500px;
    top: 150px;
    left: 40px;
    z-index: 10;
    color: #666666;
}
.carousel-caption h6 {
    color: #999999;
    font-size: 24px;
    font-weight:normal;
    margin-bottom: 20px;
}
.carousel-caption h1 {
    color: #660099;
    font-size: 55px;
    font-weight: 700;
    margin-bottom: 24px;
}
.carousel-caption p {
    margin-bottom: 50px;
    font-size: 22px;
}

/* Declare heights because of positioning of img element */
.carousel-item {
    height: 783px;
}
.carousel-item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 783px;
}


#featured {
    background: #9933ff url('img/featured-bg') no-repeat bottom right;
    height: 615px;
    margin-bottom: 100px;
}
#featured .container {
    position: relative;
}

.featured-img {
    position: absolute;
    width: 700px;
    top: -32px;
}

.featured-img img {
    width: 100%;
}

.featured-caption {
    width: 600px;
    position: absolute;;
    right: 30px;
    top: 85px;
    color: #cbabf3;
}

.featured-caption h6 {
    color: #cbabf3;
    font-size: 24px;
    font-weight:normal;
    margin-bottom: 26px;
    text-transform: uppercase;
}
.featured-caption h1 {
    color: #FFFFFF;
    font-size: 55px;
    font-weight: 700;
    margin-bottom: 26px;
}
.featured-caption p {
    margin-bottom: 50px;
    font-size: 18px;
    padding-right: 50px;
}

#features {
    margin-bottom: 100px;
    padding: 20px;
    text-align: center;
}
#features .container {
}

#features h6 {
    color: #bcbcbc;
    font-size: 18px;
    font-weight:normal;
    margin-bottom: 10px;
    text-transform: uppercase;;
}
#features h1 {
    color: #660099;
    font-size: 55px;
    font-weight: 700;
    margin-bottom: 26px;
}

.features-content {
    position: relative;
    color: #333333;
    text-transform: uppercase;
}

.features-img {
    width: 512px;
    margin: 0 auto;
}

.features-img img {
    width: 100%;
}

.features-content ul li {
    width: 330px;
    text-transform: uppercase;
    font-weight: bold;
    line-height: 42px;
}

.features-content ul.feature-li-first {
    position: absolute;
    left: 30px;
    top: 140px;
}
.features-content ul.feature-li-first li {
    text-align: right;
    padding: 30px 0;
}
.features-content ul.feature-li-first li span {
    text-align: right;
    padding-right: 20px;
    display: inline-block;
}

.features-content ul.feature-li-second {
    position: absolute;
    right: 30px;
    top: 140px;
    text-align: left;
}

.features-content ul.feature-li-second li {
    text-align: left;
    padding: 20px 0;
}
.features-content ul.feature-li-second li span {
    text-align: right;
    padding-left: 20px;
    display: inline-block;
}

.features-content ul.feature-li-first .features-icon {
    float: right;
}

.features-content ul.feature-li-second .features-icon {
    float: left;
}

.features-icon {
    background: url('img/list-icons.png') no-repeat;
    display: inline-block;
}
.icon-sc {
    width: 24px;
    height: 40px;
    background-position: 0 0;
}
.icon-llb {
    width: 20px;
    height: 40px;
    background-position: 0 -42px;
}
.icon-tcp {
    width: 29px;
    height: 42px;
    background-position: 0 -84px;
}
.icon-vuc {
    width: 36px;
    height: 35px;
    background-position: -34px 0;
}
.icon-wdp {
    width: 32px;
    height: 40px;
    background-position: -37px -42px;
}
.icon-rh {
    width: 40px;
    height: 40px;
    background-position: -35px -88px;
}


#deals {
    background: #9933ff url('img/deals-bg.jpg') no-repeat center center;
    color: #FFFFFF;
    text-align: center;
    height: 444px;
    margin-bottom: 150px;
}

#deals h6 {
    color: #cbabf3;
    font-size: 18px;
    font-weight:normal;
    padding-top: 25px;
    margin-bottom: 20px;
    text-transform: uppercase;
}
#deals h1 {
    color: #FFFFFF;
    font-size: 55px;
    font-weight: 700;
    margin-bottom: 25px;
}


#shop {
    text-align: center;
    margin-bottom: 50px;
}

#shop h6 {
    color: #bcbcbc;
    font-size: 18px;
    font-weight:normal;
    margin-bottom: 10px;
    text-transform: uppercase;;
}
#shop h1 {
    color: #660099;
    font-size: 55px;
    font-weight: 700;
    margin-bottom: 26px;
}

.products {
    margin-bottom: 20px;
}
.products .product {
    padding: 10px;
}
.products .product-img {
    background-color: #ededed;
    text-align: center;
}
.products .product-img img {
    max-width: 100%;
    max-height: 100%;
}
.products .product-details  {
    text-align: left;
    padding: 10px 0 0 6px;
}
.products .product-details label {
    display: block;
    color: #660099;
    font-size: 20px;
    font-weight: 700;
}
.products .product-details span.price {
    color: #8c8c8c;
}


#partners {
    text-align: center;
    background-color: #ebebeb;
    padding: 30px 20px 20px;
}
#partners p {
    margin: 0 0 30px;
}

.logo-footer img {
    max-width: 100%;
}

i[class^="logo-"] {
    background-image: url('img/partner-logos.png');
    display: inline-block;
    height: 44px;
}
.logo-mcafee {
    background-position: 0 0;
    width: 90px;
}
.logo-norton {
    background-position: -104px 0;
    width: 100px;
}
.logo-shield {
    background-position: -206px 0;
    width: 60px;
}
.logo-comodo {
    background-position: -282px 0;
    width: 80px;
}
.logo-verisign {
    background-position: -366px 0;
    width: 80px;
}
.logo-truste {
    background-position: -450px 0;
    width: 80px;
}
.logo-paypal {
    background-position: -542px 0;
    width: 45px;
}

#footer-nav {
}
#footer-nav .nav-item {
    font-size: 16px;
    padding: 10px 14px;
}
#footer-nav .nav-item:last-child {
    padding: 0 14px;
}
#footer-nav .nav-item .nav-link{
    color: rgba(0,0,0,.55);
}
#footer-nav .nav-item .nav-link:hover,
#footer-nav .nav-item .nav-link.active{
    color: rgba(0,0,0,.75);
}

#copyright {
    background: url('img/copyright-bg.jpg') repeat-y;
    background-size: contain;
    text-align:center;
    font-size: 12px;
    color: #FFFFFF;
    padding: 14px 0;
}
#copyright a {
    color: #FFFFFF;
    text-decoration: none;
}


@media (max-width: 991.98px) {
    /* Since positioning the image, we need to help out the caption */
    .carousel-caption {
        width: 410px;
        top: 40px;
        left: 20px;
    }
    .carousel-caption h6 {
        font-size: 20px;
    }
    .carousel-caption h1 {
        font-size: 38px;
    }
    .carousel-caption p {
        font-size: 18px;
    }

    /* Declare heights because of positioning of img element */
    .carousel-item {
        height: 500px;
    }
    .carousel-item > img {
      height: 500px;
    }

    #featured {
        height: 400px;
    }

    .featured-img {
        width: 50%;
    }

    .featured-img img {
    }

    .featured-caption {
        top: 25px;
        width: 45%;
    }

    .featured-caption h6 {
        font-size: 18px;
        margin-bottom: 20px;
    }
    .featured-caption h1 {
        color: #FFFFFF;
        font-size: 40px;
        font-weight: 700;
        margin-bottom: 26px;
    }
    .featured-caption p {
        margin-bottom: 20px;
        font-size: 16px;
        padding-right: 0px;
    }


    #features {
        margin-bottom: 100px;
        padding: 20px;
    }

    #features h1 {
        font-size: 45px;
    }

    .features-content {
        position: relative;
    }
    .features-content::after {
      content: "";
      clear: both;
      display: table;
    }

    .features-img {
        width: 40%;
        float: left;
    }

    .features-img img {
        width: 100%;
    }

    .features-content ul li {
        width: auto;
    }

    .features-content ul.feature-li-first {
        position: absolute;
        left: 55%;
        top: 40px;
    }
    .features-content ul.feature-li-first li {
        text-align: left;
        padding: 8px 0;
    }
    .features-content ul.feature-li-first li span {
        text-align: left;
        padding-left: 20px;
        display: inline-block;
    }

    .features-content ul.feature-li-second {
        position: absolute;
        right: auto;
        left: 55%;
        top: 220px;
        text-align: left;
    }

    .features-content ul.feature-li-second li {
        text-align: left;
        padding: 8px 0;
    }
    .features-content ul.feature-li-second li span {
        text-align: left;
        padding-left: 20px;
        display: inline-block;
    }

    .features-content ul.feature-li-first .features-icon {
        float: left;
    }

    .features-content ul.feature-li-second .features-icon {
        float: left;
    }
}

@media (max-width: 767.98px) {
    #featured {
        height: 400px;
    }

    .featured-img {
        width: 30%;
        top: 40px;
    }

    .featured-img img {
    }

    .featured-caption {
        top: 25px;
        width: 60%;
    }

    .featured-caption h6 {
        font-size: 18px;
        margin-bottom: 20px;
    }
    .featured-caption h1 {
        color: #FFFFFF;
        font-size: 30px;
        font-weight: 700;
        margin-bottom: 26px;
    }
    .featured-caption p {
        margin-bottom: 20px;
        font-size: 16px;
        padding-right: 0px;
    }
}
