@font-face {
  font-family: "socialico";
  src: url("fonts/Socialico/Socialico.eot");
  src: url("fonts/Socialico/Socialico.eot?#iefix") format("embedded-opentype"),
    url("fonts/Socialico/Socialico.woff2") format("woff2"),
    url("fonts/Socialico/Socialico.woff") format("woff"),
    url("fonts/Socialico/Socialico.ttf") format("truetype"),
    url("fonts/Socialico/Socialico.svg") format("svg");
}
*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.suspension-contain {
  max-height: 980px;
  overflow: hidden;
  position: relative;
}
html.suspended {
  background: rgba(0, 0, 0, 0.6);
}
body {
  max-width: 100%;
  min-width: 1200px;
  font-family: 'Raleway', sans-serif;
  color: #535A72;
  margin: 0;
}
a {
  color: inherit;
  text-decoration: none;
}
a:hover {
  text-decoration: none;
  color: #F1B511;
}
h1 span,
h2 span{
  color: #F1B511;
}
h1,
h2{
  margin: 0;
  color: #0F1932;
  font-weight: 800;
  padding: 0 0 20px;
  font-size: 78px;
}
h3{
  font-size: 60px;
  font-weight: 800;
  color: #0F1932;
  padding: 0 0 20px;
  margin: 0;
}
h4 {
  color: #0F1932;
  font-size: 48px;
  font-weight: 800;
  padding: 0 0 20px;
  margin: 0;
}
h5 {
  color: #0F1932;
  font-size: 24px;
  font-weight: 400;
  padding: 0 0 20px;
  margin: 0;
 
}
h6 {
  color: #0F1932;
  font-size: 18px;
  padding: 0 0 20px;
  font-weight: 400;
  margin: 0;
}
p{
  font-size: 14px;
  line-height: 120%;
  margin: 0;
  padding: 0 0 20px;
}
p a:hover{
  color: #FF0000;
}
ul{
  padding: 0;
  margin: 0;
}
.row {
  max-width: 1430px;
  margin: 0 auto;
  padding: 0 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}


/*clearings*/
.clear {
  clear: both;
}
.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
  font-size: 0;
}
.clearfix {
  display: block;
}

/*cookie*/
.cc-animate.cc-revoke.cc-bottom {
  font-size: 14px;
  padding: 5px 10px;
  position: fixed;
  display: block !important;
  -webkit-transform: none !important;
      -ms-transform: none !important;
          transform: none !important;
  bottom: 0 !important;
  left: 20px !important;
}

/*call to action*/
.destroy-on-load,
.cta {
  display: none;
}

.btn {
  position: relative;
  overflow: hidden;
  font-size: 12px;
  color: #F1B511;
  background: #000;
  display: flex;
  font-weight: 300;
  align-items: center;
  justify-content: center;
  column-gap: 10px;
  padding: 10px;
  width: 120px;
  height: 40px;
  text-align: center;
}
.btn:hover{
  background: #16161e;
}
.flex{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
img{
  max-width: 100%;
}

/*------------------------------------header------------------------------------*/
#header{position: relative; z-index: 2; border-bottom: 1px solid rgb(255 255 255 / 20%);}
#header .row{max-width: 1270px;}
#header .content{display: flex; align-items: center; justify-content: space-between; column-gap: 30px;}
#header nav a#pull {display: none;}
#header nav ul {width: 480px;max-width: 100%;margin: 0;padding: 0;list-style: none;display: flex;align-items: center;justify-content: space-between;}
#header nav ul li a {color: #0D1932;font-size: 14px;display: flex;align-items: center;justify-content: center; letter-spacing: 0.2em; text-transform: uppercase; font-weight: 700;}
#header nav ul li.active-menu a,
#header nav ul li a:hover {border-color: #FFF;}
#header .top{background: #0D1931; height: 40px;}
#header .top img{display: block; margin: 0 0 0 auto;}
#header .bot{padding: 50px 0 40px;}
#header .logo img{display: block; margin: 0 auto 30px;}
#header .social{display: flex; align-items: center; justify-content: space-between; width: 130px; margin: 0 auto;}

/*------------------------------------banner------------------------------------*/
#banner{background: url(../images/common/banner.jpg) no-repeat center center; background-size: cover;padding: 50px 0;min-height: 719px;position: relative;}
#banner .row{max-width: 1500px;position: absolute;left: 0;right: 0;top: 50%;transform: translateY(-50%);}
#banner h2{font-weight: 900; font-size: 110px; line-height: 85%; padding-bottom: 10px;}
#banner p{padding-bottom: 80px; width: 390px; max-width: 100%;line-height: 170%; color: #0D1932;}
#banner .content{width: 520px; max-width: 100%;}

/*------------------------------------content------------------------------------*/
#info{padding: 50px 0 0;}
#info .content{border-bottom: 2px solid #EFEFEF; display: flex; column-gap: 30px; justify-content: space-between; padding-bottom: 100px; row-gap: 20px;}
#info .item{width: 370px; max-width: 100%; display: flex; column-gap: 30px; align-items: center;}
#info h6{font-weight: 800; padding-bottom: 5px;}
#info p{font-size: 14px; padding: 0;}

#collect{padding: 150px 0 120px; background: url(../images/common/clt-bg.jpg) no-repeat center center; background-size: cover; color: #FFF; text-align: center;}
#collect .content{width: 550px; max-width: 100%;}
#collect h2{color: #FFF; font-size: 72px;}
#collect p{width: 350px; max-width: 100%; margin: 0 auto; padding-bottom: 70px;}
#collect .btn{margin: 0 auto;}

#secure{padding: 60px 0 70px;}
#secure img{display: block; margin: 0 auto;}

#products{padding: 80px 0 120px;}
#products .content{column-gap: 30px; row-gap: 20px; margin: 0 auto; display: flex; justify-content: space-between; margin-bottom: 30px;}
#products .content:last-of-type{margin-bottom: 130px;}
#products h3{text-align: center; padding-bottom: 10px;}
#products p{text-align: center; padding-bottom: 90px;}
#products h5{padding-bottom: 0; font-weight: 800;}
#products span{color: #F1B511; font-size: 14px; font-weight: 500;}
#products img{margin: 0 auto 20px; display: block;}
#products .btn{margin: 0 auto;}

#fit{color: #FFF;}
#fit .content{display: flex; align-items: center; justify-content: center;}
#fit .row{max-width: 100%; padding: 0;}
#fit .item{padding: 30px; width: calc(100% / 3); min-height: 403px;display: flex;justify-content: flex-end; align-items: center;}
#fit .item .in{width: 220px;max-width: 100%;display: flex;flex-direction: column;margin: 0;}
#fit .item:nth-of-type(1){background: url(../images/common/fit-1.jpg) no-repeat center center; background-size: cover;}
#fit .item:nth-of-type(2){background: url(../images/common/fit-2.jpg) no-repeat center center; background-size: cover;}
#fit .item:nth-of-type(3){background: url(../images/common/fit-3.jpg) no-repeat center center; background-size: cover;}
#fit p{padding-bottom: 10px; font-size: 14px;}
#fit h4{padding-bottom: 10px; color: #FFF;}

#rhythm .row{max-width: 1220px;}
#rhythm .content{display: flex; column-gap: 30px; row-gap: 20px; align-items: center; justify-content: space-between;}
#rhythm .txt{width: 470px; max-width: 100%;}
#rhythm p:last-of-type{padding-bottom: 50px;}
#rhythm h5{color: #F1B511;}

#lover .row{max-width: 1320px;}
#lover h2{padding-bottom: 40px; font-size: 72px;}
#lover .txt{width: 450px; max-width: 100%;}
#lover .content{background: url(../images/common/lvr-bg.jpg) no-repeat center center; background-size: cover; padding: 50px 70px 90px;}

#blog{color: #FFF;}
#blog .content{display: flex; align-items: center; justify-content: center;}
#blog .row{max-width: 100%; padding: 0;}
#blog .item{padding: 50px; width: calc(100% / 3); min-height: 403px;display: flex;flex-direction: column;justify-content: flex-end;}
#blog .item:nth-of-type(1){background: url(../images/common/blg-1.jpg) no-repeat center center; background-size: cover;}
#blog .item:nth-of-type(2){background: url(../images/common/blg-2.jpg) no-repeat center center; background-size: cover;}
#blog .item:nth-of-type(3){background: url(../images/common/blg-3.jpg) no-repeat center center; background-size: cover;}
#blog h4{color: #FFF;}
#blog p{width: 350px; max-width: 100%; font-size: 12px;}
#blog a{font-size: 11px; color: #F1B511;}

/*footer*/
#footer{padding: 80px 0 40px; background: #0D1931; color: #FFF; text-align: center;}
#footer .content{display: flex; align-items: center; justify-content: space-between; column-gap: 30px; row-gap:20px; margin-bottom: 40px;}
#footer .item{padding: 25px; min-height: 270px; width: 440px; max-width: 100%; background: rgba(0 0 0 / 20%); font-weight: 500; font-size: 14px; line-height: 120%;}
#footer .item img{display: block; margin: 0 auto 40px;}
#footer .item span{display: block; width: 190px; margin:  0 auto;}
#footer .logo img{margin: 0 auto 50px; display: block;}
#footer p:first-of-type{font-size: 18px; line-height: 167%; padding-bottom: 50px; width: 660px; max-width: 100%; margin: 0 auto;}
#footer .line{border-bottom: 2px solid #13254B;}
#footer .copy{font-size: 12px; line-height: 120%; padding: 0;}
#footer ul{list-style: none; display: flex; align-items: center; justify-content: space-between; width: 480px; max-width: 100%; margin: 0 auto; position: relative; padding: 30px 0 40px; font-size: 14px; text-transform: uppercase;font-weight: 700;}
#footer li.active-menu a,#footer li a:hover{color: #F1B511;}

/*------------------------------------contact form messages-----------------------------------*/
form .messages p {
  display: none;
  font-family: Arial !important;
  font-weight: 400 !important;
  letter-spacing: 0 !important;
  font-size: 16px !important;
}
form .loading {
  display: none;
}
form .alert {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
}
form .alert-success {
  color: #3c763d;
  background-color: #dff0d8;
  border-color: #d6e9c6;
}
form .alert-danger {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
}
form [type="submit"] {
  margin: 20px auto;
}

/*------------------------contact form------------------------*/
.ctc-form {
  margin: 0 auto;
  text-align: center;
}
.ctc-form input[type="text"],
.ctc-form textarea {
  font-family: Arial;
  font-size: 16px;
  color: #000;
  height: 45px;
  display: block;
  width: 100%;
  border: 1px solid #ddd;
  border-radius: 3px;
  padding: 5px 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0 auto 8px;
}
.ctc-form textarea {
  height: 120px;
  padding-top: 10px;
}
.ctc-form button {
  display: block;
}
.ctc-form .recap {
  display: inline-block;
}
.ctc-form .g-recaptcha div {
  margin: 0 auto 10px;
}
.ctc-form .ctc-hide {
  display: none;
}

/*inner pages*/
.inner #content {
  min-height: 400px;
  padding: 40px 0;
}

/*privacy policy*/
.inPrivacyBox {
  max-width: 850px;
  margin: 0 auto;
}
.inPrivacyBox p {
  text-align: justify !important;
}

/** Responsive
-------------------------------------------------------*/

@media screen and (min-width: 992px) and (max-width: 1399px){
  #header nav ul{width: 500px;}
  #header .more{width: 800px;}
}
@media screen and (max-width: 1024px){
  body {min-width: 320px}
  h1,h2{font-size: 35px !important;}
  h3{font-size: 30px !important;}
  h4{font-size: 26px !important;}
  #header {padding: 0; background: none; z-index: 999; position: relative;}
  #header .row {width: 100%;display: block;}
  #header .logo{padding:  50px 0 20px;margin: 0 auto;display:block;}
  #header nav {display:block; height: auto; }
  #header nav ul {background: #0D1931;position: fixed;top: 40px;right: 0;left: 0;margin: 0 auto;width: 100%; display: none; height: auto;border-bottom:5px solid #000;}
  #header nav ul li {width: 100%;position: relative; }
  #header nav ul li a { display: block; float:none; padding: 10px 15px; color:#fff; height: auto;}
  #header nav a {text-align: left; width: 100%;}
  #header nav a strong {position: absolute; top: 50%; -webkit-transform: translateY(-50%); -ms-transform: translateY(-50%); transform: translateY(-50%); left: 15px;}
  #header nav a#pull {position: fixed; top:0;left: 0;right: 0;margin: 0 auto;display: block; color: #fff; background-color: #0D1931; height: 40px;padding: 10px 0; width: 100%;}
  #header nav a#pull:after { content:""; background: url('../images/common/nav-icon.png') no-repeat; width: 20px; height: 20px; display: inline-block; position: absolute; right: 15px; top: 50%; -webkit-transform: translateY(-50%); -ms-transform: translateY(-50%); transform: translateY(-50%);}
  #header nav ul li.active-menu a, #header nav ul li a:hover{border-top: unset; background: #0D1931;}
  #banner{padding: 50px 0;}
  .cta{background: #0D1931  url("../images/common/phonecall.png") no-repeat center center;border-bottom-left-radius: 40px;border-top: 2px solid #EBEBEB ;border-top-left-radius: 40px;bottom: 1%;display: block;height: 80px;position: fixed;right: 0;text-decoration: none; text-indent: -9999em;width: 100px;z-index: 999;}
  #header .content, #fit .content, #rhythm .content, #blog .content, #footer .content, #blog .item, #products .content, #info .content{flex-wrap: wrap; justify-content: center;}
  #footer ul{display: none;}
  #fit .item, #blog .item{max-width: 534px; width: 100%; min-height: auto;}
  #lover .content, #footer .item, #blog .item{padding: 20px;}
  #footer .item{min-height: auto;}
  #footer, #secure, #collect, #products{padding: 40px 0;}
  #products p{padding-bottom: 20px;}
  #rhythm .txt, #info .content{padding-bottom: 40px;}
  #header .logo{padding: 20px 0;}
  #header .bot{padding: 60px 0 20px;}
  #banner{min-height: 400px;}
  #header .logo img{margin: 0 auto;}
  #products .content{margin-bottom: 20px !important;}
  #banner p, #lover h2, #collect p{padding-bottom: 20px;}
  #info{padding-top: 40px;}
  #footer .logo img, #footer .item img{margin: 0 auto 20px;}
  #rhythm p:last-of-type, #footer p:first-of-type{padding-bottom: 20px;}
  #footer .copy{padding-top: 20px;}
  #header .top{display: none;}
}