@font-face {
    font-family: 'CenturyGothic';
    src: url('../fonts/gothic/centurygothic-webfont.eot');
    src: url('../fonts/gothic/centurygothic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/gothic/centurygothic-webfont.woff') format('woff'),
         url('../fonts/gothic/centurygothic-webfont.ttf') format('truetype'),
         url('../fonts/gothic/centurygothic-webfont.svg#gothic') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'CenturyGothic-Bold';
    src: url('../fonts/gothicb/centurygothicbold-webfont.eot');
    src: url('../fonts/gothicb/centurygothicbold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/gothicb/centurygothicbold-webfont.woff') format('woff'),
         url('../fonts/gothicb/centurygothicbold-webfont.ttf') format('truetype'),
         url('../fonts/gothicb/centurygothicbold-webfont.svg#gothicb') format('svg');
    font-weight: normal;
    font-style: normal;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  background: #333333;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  position: relative;
  color: #fff;
  font-size: 18px;
  line-height:  36px;
}

a {
  color:inherit;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
  color:inherit;
}

div,article,section,dl,dt,dd,table,tr,td,ul,ol,li,p,span,small,em,h1,h2,h3,h4,h5,h6,nav {
  padding:0;
  margin:0;
}

.row {
  max-width: 1690px;
  margin: 0 auto;
  padding-left: 10px;
  padding-right: 10px;
}

/*cookie*/
.cc-animate.cc-revoke.cc-bottom{
  font-size: 14px;
  padding: 5px 10px;
  position: fixed;
  display: block!important;
  transform: none!important;
  bottom: 0!important;
  left: 20px!important;
}

/*call to action*/
.destroy-on-load, .cta {
  display: none;
}

/*typography*/
.text-left{
  text-align: left;
}

.text-right{
  text-align: right;
}

h1, h2{
  font-family: 'Bebas Neue', cursive;
  font-size: 96px;
  line-height: 1;
  color: #00ff00;
  text-shadow: 3px 4px 5px rgba(0, 0, 0, 0.4);
}

p,ul,
nav ul li a {
  font-size: 18px;
  font-weight: 400;
}

.to-br { display: block; }
.to-red { color: #FF3333; }
.mb-30 { margin-bottom: 30px; }

/*BUTTON*/
.btn{ position: relative; overflow: hidden; z-index: 999; display: block; text-align: center; padding: 19px 5px 16px; width: 100%; max-width: 214px; font-size: 18px; font-family: 'CenturyGothic', "Century Gothic", CenturyGothic, AppleGothic, sans-serif; background: #000; color: #FFF; line-height: 1.2; -webkit-appearance: inherit; }

.btn:hover{ 
  transition: background-color .8s ease-out;  
  -o-transition: background-color .8s ease-out;  
  -moz-transition: background-color .8s ease-out;  
  -webkit-transition: background-color .8s ease-out;  
  color: #fff;
  background: #FF3333;
}
.btn-center { margin: 0 auto; }
.btn-red { background: #FF3333; }
.btn-red:hover{ background: #000; }

.btn-phone { display: inline-block; padding-left: 31px; background: url('../img/phone-bg.png') top center no-repeat; background-size: cover; width: 100%; max-width: 286px; height: 50px; text-align: left;  }
.btn-phone a { font-family: 'Comfortaa', cursive; font-weight: 700; font-size: 24px; display: inline-flex; align-items: center; justify-content: flex-start; line-height: 50px; }
.btn-phone a:hover { color: #00ff00; }
.btn-phone .fa-phone { padding-right: 18px; }

.btn-cart { display: inline-block; padding-left: 34px; background: url('../img/btn-shop-bg.png') top center no-repeat; background-size: cover; width: 100%; max-width: 286px; height: 50px; text-align: left; }
.btn-cart a { font-family: 'Bebas Neue', cursive; letter-spacing: .2em; font-size: 24px; display: inline-flex; align-items: center; justify-content: flex-start; line-height: 50px; }
.btn-cart a:hover { color: #00ff00; }
.btn-cart .fa-shop-cart { padding-right: 42px; }

/*FLEX*/
.flex{
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: space-between;
} 

/*SOCIAL*/
.socials a{
  font-size: 30px;
  line-height: 1.2;
  font-family: 'Socialico';
  letter-spacing: 11px;
  padding: 0 20px;
  color: #fff
}

.socials a.ig_link{
  font-family: 'socialico-plus';
}

.socials a[href="https://facebook.com"]{
  color: #3B5A9A;
}

.socials a[href="https://plus.google.com"]{
  color: #D54936;
}

.socials a[href="https://linkedin.com"]{
  color: #117BB8;
}

.socials a[href="https://twitter.com"]{
  color: #25A8E0;
}

.socials a[href="https://instagram.com"]{
  color: #2F689B;
}


/*-----------------------------------------------HEADER-----------------------------------------------*/
#header { padding: 38px 0; }
#header .wrap { width: 100%; max-width: 1805px; padding-left: 10px; padding-right: 10px; margin: 0 auto; align-items: center; }
#header .wrap > div, #header .right > div { flex: 1 1 100%; width: 100%; }
#header .logo-holder { max-width: 457px; }
#header .right { max-width: 1095px; margin-left: 5px; }
#header .nav-holder { max-width: 750px; }
#header nav a#pull { display: none }
#header nav{ position: relative; z-index: 999; width: 100%; max-width: 787px; margin: 0 auto; }
#header nav ul{ }
nav ul { margin: 0; padding: 0; list-style: none; }
nav ul li { display: inline-block; vertical-align: middle; padding: 0; }
nav ul li a { font-family: 'Bebas Neue', cursive; color: #999999; font-size: 18px; position: relative; display: block; -webkit-transition: all 0.3s ease; -moz-transition: all 0.3s ease; -o-transition: all 0.3s ease; transition: all 0.3s ease; }
#header nav ul li.active-menu a, 
#header nav ul li a:hover { color: #00ff00; }
#header .phone-holder { max-width: 286px; margin-left: 5px; }

/*-----------------------------------------------BANNER-----------------------------------------------*/
#banner { position: relative; background: url('../img/banner-bg.png') top center no-repeat; background-size: cover; padding-top: 70px; padding-bottom: 65px; }
#banner .row { align-items: center; justify-content: center; }
#banner .row > div { flex: 1 1 100%; width: 100%; }
#banner .left { max-width: 665px; text-align: left; }
#banner .right { max-width: 1072px; margin-left: -62px; }
#banner .foreword { font-family: 'Bebas Neue', cursive; margin-bottom: 44px; font-size: 18px; padding-left: 10px; }
#banner .title { font-family: 'Bebas Neue', cursive; font-size: 76px; color: #00ff00; line-height: 1; margin-bottom: 54px; padding-left: 10px; text-shadow: 3px 4px 5px rgba(0, 0, 0, 0.4); }
#banner .to-lg { font-size: 106px; }
#banner .content{ font-size: 14px; line-height: 30px; margin-bottom: 110px; padding-left: 10px; }
#banner img { width: 100%; max-width: 100%; }

/*-----------------------------------------------CONTENT-----------------------------------------------*/
/*Product*/
#product { padding-top: 50px; padding-bottom: 50px; }
#product .foreword{ font-family: 'Bebas Neue', cursive; line-height: 1.2; margin-bottom: 40px; }
#product h2 { margin-bottom: 30px; }
#product .content{ font-family: 'Bebas Neue', cursive; line-height: 30px; width: 100%; max-width: 654px; margin: 0 auto 50px; }
#product .wrap { width: 100%; max-width: 1600px; margin: 0 auto 18px; align-items: flex-start; flex-wrap: wrap; }
#product .wrap > div { flex: 1 1 100%; width: 100%; max-width: 465px; text-align: left; margin-bottom: 50px; }
#product .wrap > div:not(:first-child) { margin-left: 5px; }
#product .wrap .img-holder { margin-bottom: 20px; }
#product .wrap img { display: block; max-width: 100%; }
#product .pro-name { font-family: 'Bebas Neue', cursive; line-height: 1.2; }
#product .pro-price { font-family: 'Bebas Neue', cursive; font-size: 36px; color: #00ff00; line-height: 1.2; }
#product .btn-cart { margin: 40 auto 0; }

/*WELCOME*/
#welcome { background: url('../img/welcome-bg.png') top center no-repeat; padding-top: 80px; padding-bottom: 255px; text-align: left; }
#welcome .row { align-items: flex-start; justify-content: center; max-width: 1920px; }
#welcome .row > div { flex: 1 1 100%; width: 100%; }
#welcome .row .lft { max-width: 1036px; margin-top: -92px; }
#welcome .row .rgt { max-width: 966px; margin-left: -82px; padding-top: 55px; }
#welcome .foreword { font-family: 'Bebas Neue', cursive; line-height: 1.2; margin-bottom: 70px; }
#welcome h1 { margin-bottom: 50px; width: 100%; max-width: 691px; }
#welcome .content { width: 100%; max-width: 789px; margin-bottom: 60px; }
#welcome .img-holder img { width: 100%; max-width: 100%; }

/*about*/
#about{ background: url('../img/maintenance-bg.png') top center no-repeat; -webkit-background-size: cover; background-size: cover;}
#about .row { max-width: 1920px; justify-content: center; }
#about .row > div { flex: 1 1 100%; width: 100%; max-width: 100%; }
#about .row .lft { max-width: 1002px; text-align: left; padding-top: 55px; padding-bottom: 112px; }
#about .row .rgt { max-width: 919px;  }
#about .wrap { width: 100%; max-width: 610px; margin-left: auto; }
#about .foreword { font-family: 'Bebas Neue', cursive; line-height: 1.2; margin-bottom: 50px; }
#about h2 { margin-bottom: 70px; }
#about .content { margin-bottom: 60px; }
#about .img-holder { position: relative; height: 100%; }
#about .img-holder img { position: absolute; z-index: 1; width: 100%; max-width: 100%; left: 0; top: -160px; }

/*Company Info*/
#com-info { position: relative; padding: 50px 0 45px; background: url('../img/footer-bg.png') top center; -webkit-background-size: cover; background-size: cover; font-family: 'Bebas Neue', cursive; }
#com-info .row { width: 100%; max-width: 990px; margin: 0 auto; padding-left: 10px; padding-right: 10px; }
#com-info .flex { align-items: stretch; }
#com-info .flex > div { flex: 1 1 100%; width: 100%; }
#com-info .img-center { display: block; margin: 0 auto 30px; }
#com-info .logo-holder { margin-bottom: 55px; }
#com-info .tel { max-width: 195px; }
#com-info .add { max-width: 155px; }
#com-info .email { max-width: 230px; }

#com-info .btn { margin: 0 auto; }

/*-----------------------------------------------FOOTER-----------------------------------------------*/
#footer {  }
#footer .row { max-width: 770px; }
#footer nav ul li { display: inline-block; vertical-align: middle; }
#footer nav ul li a { padding: 0 5px; }
#footer .nav-holder { padding: 53px 10px 54px; }
#footer .copyrights { padding: 15px 10px; background: url('../img/copy-bg.png') top center no-repeat; background-size: cover; }
#footer .copy { width: 100%; max-width: 275px; text-align: center; margin: 0 auto; font-family: 'Bebas Neue', cursive; font-size: 14px; line-height: 1.2; }
.techno img { width: 52px; margin: 0 5px -14px; }



/*---------------------------------------inner pages-------------------------------------------*/
.inner #content {
  min-height: 400px;
  padding: 40px 0;
  max-width: 800px;
  margin: 0 auto
}

.inner #content h1{
  padding-bottom: 20px;
}


/*inner gallery*/
.img-responsive{
  width: 200px;
  height: 200px;
  -o-object-fit: cover;
  object-fit: cover;
}

#content .gallery-container {
  text-align: center;
}

#content .gallery {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#content .gallery li {
  display: inline-block;
}

#content .thumbnail {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;
  display: block;
  line-height: .42857;
  margin-bottom: 20px;
  padding: 4px;
  transition: border 0.5s ease-in-out 0s;
}

#content .thumbnail:hover {
  transform: scale(1.02);
}

#content .page_navigation {
  display: inline-block;
}

#content .page_link,
#content .previous_link,
#content .next_link,
#content  .first_link,
#content  .last_link, 
#content .ellipse {
  background-color: #fff;
  border: 1px solid #ddd;
  color:  #0275d8;
  display: inline-block;
  line-height: 1.25;
  margin-left: -1px;
  padding: 0.5rem 0.75rem;
  position: relative;
}

#content .page_navigation > a:hover , 
.page_navigation > a.active_page {
  background-color: #eceeef;
  border-color: #ddd;
  color: #014c8c;
  text-decoration: none;
}

.inner #content .gallery-container{
  margin-bottom: 20px
}




/*privacy policy*/
.inPrivacyBox {
  max-width: 850px;
  margin: 0 auto;
}

.inPrivacyBox p {
  text-align: justify!important;
}



/*RESPONSIVE*/
@media screen and (max-width: 1200px){
  body { min-width: 320px }
  #banner .row{ bottom: 0; }
  #banner .box{ padding: 60px; }
}

/*1024*/
@media screen and (max-width: 1199px){

}

/*960*/
@media screen and (max-width: 1023px){

}

/*768*/
@media screen and (max-width: 959px){
  h1, h2 { font-size: 32px; }
  #header { border-top: 0; padding-top: 65px; }
  #header .nav-holder { border-top: #FF3333 4px solid; position: fixed; top: 0; left: 0; right: 0; margin: 0 auto; display: block; color: #fff; background-color: #000; width: 100%; z-index: 99999; }
  #header nav { max-width: 100%; }

  #header nav ul {
    width: 100%;
    display: none;
    height: auto;
    border-bottom: 5px solid #000;
    padding: 0 15px;
  }

  #header nav ul li {
    width: 100%;
    position: relative;
  }

  #header nav ul li a {
    padding: 10px 0;
    text-align: left;
    width: 100%;
  }

  #header nav a strong {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 15px;
  }

  #header nav a#pull {
    display: block;
    color: #fff;
    background-color: #000;
    height: 60px;
    padding: 10px 0;
    width: 100%;
    position: relative;
  }

  #header nav a#pull:after {
    content:"";
    background: url('../img/nav-icon.png') no-repeat;
    width: 20px;
    height: 20px;
    display: inline-block;
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
  }

  .cta{
    background: #FF3333 url(../img/phonecall.png) no-repeat center center;
    border-bottom-left-radius: 40px;
    border-top: 2px solid #EBEBEB;
    border-top-left-radius: 40px;
    bottom: 1%;
    display: block;
    height: 80px;
    position: fixed;
    right: 0;
    text-decoration: none;
    text-indent: -9999em;
    width: 100px;
    z-index: 999;
  }

  #header .logo-holder { padding-top: 15px; padding-bottom: 15px; border-top: #656565 1px solid; }
  #banner .row { position: static; }
  #banner .box { padding: 15px; text-align: center; }
  #banner .foreword { margin-bottom: 15px; }
  #banner .title { font-size: 32px; margin-bottom: 15px; }
  #banner .content { margin-bottom: 15px; max-width: 100%; }
  #banner .btn, #welcome .btn, #about .btn { margin: 0 auto; }
  #product, #about { padding-top: 15px; padding-bottom: 15px; }
  #product h2 { margin-bottom: 15px; }
  #product .wrap { justify-content: center; flex-direction: column; align-items: center; }
  #product .wrap > div { margin-bottom: 15px; padding: 9px; text-align: center; }
  #product .wrap > div:not(:first-child) { margin-left: 0; }
  #welcome { padding-top: 15px; padding-bottom: 15px; }
  #welcome .row { flex-wrap: wrap; justify-content: center; flex-direction: column-reverse; }
  #welcome .row .rgt { max-width: 100%; text-align: center; margin-left: 0; }
  #welcome .foreword, #welcome h1, .mb-30, #welcome .content, #welcome .row .rgt, #about .foreword, #about h2, #about .content, #com-info .add, #com-info .tel, #com-info .email { margin-bottom: 15px; }
  #about .row { flex-wrap: wrap; justify-content: center; flex-direction: column; }
  #about .img-holder img { position: static; transform: none; }
  #about .row .lft { max-width: 100%; text-align: center; }
  #about .row .rgt { margin-left: auto; margin-right: auto; }
  #com-info { padding: 15px 0; }
  #com-info h3 { font-size: 28px; }
  #footer nav ul { flex-wrap: wrap; }
  #welcome p { line-height: 1.33; }
}


/*425*/
@media screen and (max-width: 767px){

}


/*375*/
@media screen and (max-width: 424px){

}

/*320*/
@media screen and (max-width: 374px){

}