@font-face {
  font-family: "socialico";
  src: url("fonts/Socialico/Socialico.eot");
  src: url("fonts/Socialico/Socialico.eot?#iefix") format("embedded-opentype"),
    url("fonts/Socialico/Socialico.woff2") format("woff2"),
    url("fonts/Socialico/Socialico.woff") format("woff"),
    url("fonts/Socialico/Socialico.ttf") format("truetype"),
    url("fonts/Socialico/Socialico.svg") format("svg");
}
*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.suspension-contain {
  max-height: 980px;
  overflow: hidden;
  position: relative;
}
html.suspended {
  background: rgba(0, 0, 0, 0.6);
}
body {
  max-width: 100%;
  min-width: 1200px;
  margin: 0 auto;
  color: #FFF;
  background: #140226;
  font-family: 'Roboto', sans-serif;
}
a {
  color: inherit;
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
h1,
h2{
  margin: 0;
  padding: 0 0 20px;
  font-weight: 800;
  font-size: 60px;
  font-family: 'Comfortaa', cursive;
}
h3{
  font-size: 24px;
  font-weight: 800;
  padding: 0;
  margin: 0;
  font-family: 'Comfortaa', cursive;
}
h4,
h5 {
  color: #ff6600;
  font-size: 24px;
  font-weight: normal;
  padding: 0 0 20px;
  margin: 0;
  font-family: 'Comfortaa', cursive;
}
h6 {
  font-size: 18px;
  padding: 0 0 20px;
  font-weight: normal;
  margin: 0;
  font-family: 'Comfortaa', cursive;
}
p{
  font-size: 18px;
  margin: 0;
  padding: 0 0 20px;
}
p a:hover{
  color: #FF0000;
}
ul{
  padding: 0;
  margin: 0;
  font-family: 'Comfortaa', cursive;
}
.row {
  max-width: 1330px;
  margin: 0 auto;
  padding: 0 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}


/*clearings*/
.clear {
  clear: both;
}
.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
  font-size: 0;
}
.clearfix {
  display: block;
}

/*cookie*/
.cc-animate.cc-revoke.cc-bottom {
  font-size: 14px;
  padding: 5px 10px;
  position: fixed;
  display: block !important;
  -webkit-transform: none !important;
      -ms-transform: none !important;
          transform: none !important;
  bottom: 0 !important;
  left: 20px !important;
}

/*call to action*/
.destroy-on-load,
.cta {
  display: none;
}

.btn {
  background: url(../images/common/btn-bg.png) no-repeat center center;
  background-size: cover;
  position: relative;
  overflow: hidden;
  font-family: 'Comfortaa', cursive;
  font-size: 14px;
  color: #FFF;
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 10px;
  padding: 10px;
  text-transform: uppercase;
  width: 170px;
  height: 40px;
  text-align: center;
}
.btn:hover{
  color: #FFF;
  /*background: #c2c2c2;*/
}
.flex{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
img{
  max-width: 100%;
}

/*------------------------------------header------------------------------------*/
#header {
  position: relative;
  z-index: 999;
  padding: 30px 0;
  border-top: 10px solid #ff6600;
}
#header .content{display: flex; align-items: flex-end; justify-content: space-between; column-gap: 30px;}
#header nav a#pull {
  display: none;
}
#header nav ul {
  width: 700px;
  max-width: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#header nav ul li a {
  color: 999999;
  font-size: 18px;
}
nav ul li .btn{font-size: 14px !important;}
nav ul li.active-menu a,
nav ul li a:hover {
  color: #ff6600;
}

/*------------------------------------banner------------------------------------*/
#banner{
  background: url(../images/common/banner-bg.png) no-repeat center left;
  padding: 50px 0;
}
#banner .content{
  display: flex;
  justify-content: space-between;
  column-gap: 30px;
  align-items: center;
}
#banner .txt{
  width: 530px;
  max-width: 100%;
}
#banner p{
  padding-bottom: 50px;
}
#banner h2{
  padding: 0;
}

/*------------------------------------content------------------------------------*/
#ultimate{
  padding: 130px 0 100px;
  background: url(../images/common/ult-bg.png) no-repeat center center;
}
#ultimate h5{
  text-align: center;
}
#ultimate h2{
  text-align: center;
}
#ultimate ul{
  list-style: none;
}
#ultimate li{
  text-transform: uppercase;
  display: flex;
  justify-content: space-between;
  column-gap: 10px;
  width: 270px;
  max-width: 100%;
  align-items: center;
}
#ultimate li:not(:last-of-type){
  margin-bottom: 50px;
}
#ultimate .content{
  display: flex;
  margin-bottom: 70px;
  justify-content: space-between;
  column-gap: 30px;
  align-items: center;
}
#ultimate .btn{margin: 0 auto;}

#deal{background: url(../images/common/deal-bg.png) no-repeat bottom center; padding-bottom: 50px; text-align: center; background-size: 100% 444px;}
#deal img{margin: 0 auto 20px;}
#deal h2{color: #ffffff; padding: 0;}
#deal p{color: #ffffff; padding: 0; text-transform: uppercase;}

#products{text-align: center; padding: 100px 0 150px;  background: url(../images/common/prod-bg.png) no-repeat center center; background-size: 100%;}
#products .content{display: flex; align-items: center; justify-content: center; column-gap: 30px; row-gap: 20px;}
#products .btn{margin: 0 auto;}
#products h2{text-transform: uppercase;}
#products h5{color: #666666;}
#products .item h5{color: #FF6500; font-weight: 800; padding-top: 20px;}

#featured{background: url(../images/common/feat-bg.png) no-repeat center right; padding: 120px 0 100px;}
#featured .content{display: flex; align-items: center; justify-content: space-between; column-gap: 30px; row-gap: 20px;}
#featured .txt{width: 780px; max-width: 100%;}
#featured p{padding-bottom: 50px;}

#gallery{padding-top: 100px;}
#gallery img{width: 100%; height: auto;}

/*footer*/
#footer .top{
  background: url(../images/common/ftr-bg.png) no-repeat center center; 
  background-size: cover;
  padding: 70px 0;
}
#footer .item{max-width: 350px;}
#footer ul{list-style: none;}
#footer li:not(:last-of-type){margin-bottom: 20px;}
#footer .content{display: flex; justify-content: space-between; column-gap: 30px;}
#footer .item:first-of-type a{display: block; padding-top: 80px;}
#footer .item:last-of-type{padding-left: 40px; border-left: 2px solid #ccc;}
#footer p:last-of-type{padding: 0;}
#footer .bot{padding: 20px 0;}
#footer .bot p{padding: 0; font-size: 12px; color: #FFF; text-align: center; text-transform: uppercase;}
#footer h6{color: #FFF;}
#footer li a{color: #FFF;}
#footer li.active-menu a,#footer li a:hover{color: #FF6500;}

/*------------------------------------contact form messages-----------------------------------*/
form .messages p {
  display: none;
  font-family: Arial !important;
  font-weight: 400 !important;
  letter-spacing: 0 !important;
  font-size: 16px !important;
}
form .loading {
  display: none;
}
form .alert {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
}
form .alert-success {
  color: #3c763d;
  background-color: #dff0d8;
  border-color: #d6e9c6;
}
form .alert-danger {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
}
form [type="submit"] {
  margin: 20px auto;
}

/*------------------------contact form------------------------*/
.ctc-form {
  margin: 0 auto;
  text-align: center;
}
.ctc-form input[type="text"],
.ctc-form textarea {
  font-family: Arial;
  font-size: 16px;
  color: #000;
  height: 45px;
  display: block;
  width: 100%;
  border: 1px solid #ddd;
  border-radius: 3px;
  padding: 5px 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0 auto 8px;
}
.ctc-form textarea {
  height: 120px;
  padding-top: 10px;
}
.ctc-form button {
  display: block;
}
.ctc-form .recap {
  display: inline-block;
}
.ctc-form .g-recaptcha div {
  margin: 0 auto 10px;
}
.ctc-form .ctc-hide {
  display: none;
}

/*inner pages*/
.inner #content {
  min-height: 400px;
  padding: 40px 0;
}

/*privacy policy*/
.inPrivacyBox {
  max-width: 850px;
  margin: 0 auto;
}
.inPrivacyBox p {
  text-align: justify !important;
}

/** Responsive
-------------------------------------------------------*/

@media screen and (max-width: 991px){
  body {min-width: 320px}
  h1,h2{font-size: 35px;}
  #header {padding: 0; background: none;}
  #header .row {width: 100%;display: block;}
  #header .logo{padding:  50px 0 20px;margin: 0 auto;display:block;}
  #header nav {display:block; height: auto; }
  #header nav ul {background: rgb(0, 0, 0);background: rgba(0, 0, 0, 0.7);position: fixed;top: 40px;right: 0;left: 0;margin: 0 auto;width: 100%; display: none; height: auto;border-bottom:5px solid #000;}
  #header nav ul li {width: 100%;position: relative; }
  #header nav ul li a { display: block; float:none; padding: 10px 15px; color:#fff;}
  #header nav a {text-align: left; width: 100%;}
  #header nav a strong {position: absolute; top: 50%; -webkit-transform: translateY(-50%); -ms-transform: translateY(-50%); transform: translateY(-50%); left: 15px;}
  #header nav a#pull {position: fixed; top:0;left: 0;right: 0;margin: 0 auto;display: block; color: #fff; background-color: #000; height: 40px;padding: 10px 0; width: 100%;}
  #header nav a#pull:after { content:""; background: url('../images/common/nav-icon.png') no-repeat; width: 20px; height: 20px; display: inline-block; position: absolute; right: 15px; top: 50%; -webkit-transform: translateY(-50%); -ms-transform: translateY(-50%); transform: translateY(-50%);}
  #header nav ul li.active-menu a, #header nav ul li a:hover{border-top: unset; background: #6BA6FF;}
  #banner{padding: 50px 0;}
  .cta{background: #6BA6FF  url("../images/common/phonecall.png") no-repeat center center;border-bottom-left-radius: 40px;border-top: 2px solid #EBEBEB ;border-top-left-radius: 40px;bottom: 1%;display: block;height: 80px;position: fixed;right: 0;text-decoration: none; text-indent: -9999em;width: 100px;z-index: 999;}
  #footer .content, #featured .content, #products .content, #ultimate .content, #banner .content{flex-wrap: wrap; justify-content: center; row-gap: 20px;}
  #banner {background: #ff6600;}
  #footer .item:nth-of-type(2){display: none;}
  #header {border-top: 0;padding-top: 50px;}
  #header .content {align-items: center;justify-content: center;}
  #footer .top, #featured, #products, #ultimate{padding: 50px 0;}
  #featured{background: #ff6600;}
  #gallery {padding-top: 0;}
  #footer .item:first-of-type a {padding-top: 0;}
  #banner .txt {order: -1;}
  #deal{padding: 50px 0; background-size: cover;}
  #featured p, #banner p{padding-bottom: 20px;}
  #banner h5, #featured h2, #featured p, #featured h5,#banner p, #banner h2{color: #FFF;}
  #ultimate li{width: 250px}
}